<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.activitymanagement.dao.CommodiTytemplateMapper">

    <sql id="ctCols">
        id,
        ct_template_number,
        ct_tytemplate_name,
        ct_templategoods,
        ct_remarks
    </sql>

    <!--查询的是商品模板里面的所有已存在的模板-->
    <select id="selectAll" resultType="com.yunhe.activitymanagement.entity.CommodiTytemplate">
        select <include refid="ctCols"/> from trades_teward.commodi_tytemplate
    </select>

</mapper>
