<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.cargomanagement.dao.PurchaseHistoryMapper">
    <sql id="purchase_history">
        id
        ,
        ph_date,
        ph_number,
        ph_supname,
        ph_clname,
        ph_quantity,
        ph_amount_payable,
        ph_amount_paid,
        ph_warehouse,
        ph_bill,
        ph_jindate,
        ph_maney_hu,
        ph_experienced_person,
        ph_single_person,
        ph_other_expenses,
        ph_warehousing_status,
        ph_remarks
    </sql>

    <sql id="purchase_hi">
        ph_date
        ,
        ph_number,
        ph_supname,
        ph_clname,
        ph_quantity,
        ph_amount_payable,
        ph_amount_paid,
        ph_warehouse,
        ph_bill,
        ph_jindate,
        ph_maney_hu,
        ph_experienced_person,
        ph_single_person,
        ph_other_expenses,
        ph_warehousing_status,
        ph_remarks
    </sql>

    <select id="getPurchaseHistoryByPhNumber" resultType="com.yunhe.cargomanagement.entity.PurchaseHistory"
            parameterType="com.yunhe.cargomanagement.entity.PurchaseHistory">
        select
        <include refid="purchase_history"/>
        from purchase_history where ph_number like concat('%', #{purchaseHistory.phNumber}, '%') and ph_supname like
        concat('%', #{purchaseHistory.phSupname}, '%') order by id desc
    </select>

    <update id="updatePurchaseHistoryById" parameterType="com.yunhe.cargomanagement.entity.PurchaseHistory">
        update purchase_history
        set ph_date=#{phDate},
            ph_number=#{phNumber},
            ph_supname=#{phSupname},
            ph_clname=#{phClname},
            ph_quantity=#{phQuantity},
            ph_amount_payable=#{phAmountPayable},
            ph_amount_paid=#{phAmountPaid},
            ph_warehouse=#{phWarehouse},
            ph_bill=#{phBill},
            ph_jindate=#{phJindate},
            ph_maney_hu=#{phManeyHu},
            ph_experienced_person=#{phExperiencedPerson},
            ph_single_person=#{phSinglePerson},
            ph_other_expenses=#{phOtherExpenses},
            ph_warehousing_status=#{phWarehousingStatus},
            ph_remarks=#{phRemarks}
        where id = #{id}
    </update>

    <select id="selectXiangList" parameterType="Integer"
            resultType="com.yunhe.cargomanagement.entity.PurchaseHistory">
        select
        <include refid="purchase_history"/>
        from purchase_history where id=#{id}
    </select>


    <resultMap id="selectHistZhong" type="com.yunhe.cargomanagement.entity.PurComm">
        <id column="id" property="id"/>
        <result column="pc_geshu" property="pcGeshu"/>
        <association property="commodityList" javaType="com.yunhe.basicdata.entity.CommodityList">
            <id column="id" property="id"/>
            <result column="cl_name" property="clName"/>
            <result column="cl_number" property="clNumber"/>
            <result column="cl_unit" property="clUnit"/>
            <result column="cl_pur_price" property="clPurPrice"/>
        </association>
    </resultMap>

    <select id="selectComHistZhong" resultMap="selectHistZhong">
        SELECT
            co.cl_name,
            co.cl_number,
            pc.pc_geshu,
            co.cl_unit,
            co.cl_pur_price
        FROM
            pur_comm pc,
            commodity_list co
        WHERE pc.com_id = co.id and puh_id=#{id}
    </select>
</mapper>
