<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.cargomanagement.dao.PurchaseReturnHistoryMapper">
    <sql id="purchase_return_history">
        id
        ,
        prh_date,
        prh_number,
        prh_supname,
        prh_returnsup,
        prh_total_amount,
        prh_refund_amount,
        prh_outgoing_warehouse,
        prh_bill,
        prh_jindate,
        prh_maney_hu,
        prh_experienced_person,
        prh_single_person,
        prh_other_expenses,
        prh_outgoing_state,
        prh_remarks
    </sql>


    <select id="selectPurchaseReturnHistoryPage" parameterType="com.yunhe.cargomanagement.entity.PurchaseReturnHistory"
            resultType="com.yunhe.cargomanagement.entity.PurchaseReturnHistory">
        select
        <include refid="purchase_return_history"/>
        from purchase_return_history where prh_number like concat('%', #{purchaseReturnHistory.prhNumber}, '%') and
        prh_supname like concat('%', #{purchaseReturnHistory.prhSupname}, '%') order by id desc
    </select>

    <select id="selectOrderXiangList" parameterType="Integer"
            resultType="com.yunhe.cargomanagement.entity.PurchaseReturnHistory">
        select
        <include refid="purchase_return_history"/>
        from purchase_return_history where id=#{id}
    </select>

    <select id="selectPurchaseReturnHistory" resultType="com.yunhe.cargomanagement.entity.PurchaseReturnHistory">
        select
        <include refid="purchase_return_history"/>
        from purchase_return_history
    </select>


    <resultMap id="selectReturnHistZhong" type="com.yunhe.cargomanagement.entity.PurComm">
        <id column="id" property="id"/>
        <result column="pc_geshu" property="pcGeshu"/>
        <association property="commodityList" javaType="com.yunhe.basicdata.entity.CommodityList">
            <id column="id" property="id"/>
            <result column="cl_name" property="clName"/>
            <result column="cl_number" property="clNumber"/>
            <result column="cl_unit" property="clUnit"/>
            <result column="cl_pur_price" property="clPurPrice"/>
        </association>
    </resultMap>

    <select id="selectOrderHistZhong" resultMap="selectReturnHistZhong">
        SELECT
            co.cl_name,
            co.cl_number,
            pc.pc_geshu,
            co.cl_unit,
            co.cl_pur_price
        FROM
            pur_comm pc,
            commodity_list co
        WHERE pc.com_id = co.id
          and prh_id = #{id}
    </select>

    <select id="selectRurchaseReturnHistByNum" resultType="com.yunhe.cargomanagement.entity.PurchaseReturnHistory"
            parameterType="String">
        SELECT
        <include refid="purchase_return_history"/>
        from purchase_return_history where prh_number=#{prhNumber}
    </select>

</mapper>
