<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.cargomanagement.dao.SalesOrderHistoryMapper">
    <sql id="Sql">
        id,so_date,so_order_num,so_status,so_auditor,so_client,so_order_comm,so_order_count,so_discount,
    so_money,so_earnest,so_bills,so_bill_date,so_sell_count,so_devlier_date,so_hander,so_maker,so_remark
</sql>

    <!--***********************************分页查询所有的销售订单历史记录***********************************-->
    <select id="selectSaleList" resultType="com.yunhe.cargomanagement.entity.SalesOrderHistory">
        select <include refid="Sql"/> from sales_order_history
        where so_client like concat('%', #{salesOrderHistory.soClient}, '%')
        and so_order_num like concat('%',#{salesOrderHistory.soOrderNum},'%')
    </select>
    <!--***********************************查询所有的销售订单历史记录***********************************-->
    <select id="selectAll" resultType="com.yunhe.cargomanagement.entity.SalesOrderHistory">
        select <include refid="Sql"/> from sales_order_history
    </select>
    <!--***********************************根据条件修改销售订单历史记录***********************************-->
    <update id="updateSale" parameterType="com.yunhe.cargomanagement.entity.SalesOrderHistory">
        update sales_order_history set
        <if test="soClient!=null and soClient!=''">
             so_client = #{soClient}
        </if>
      where id=#{id}
    </update>

<resultMap id="ConnectList" type="SalesOrderHistory">
    <id column="id" property="id"/>
    <result column="so_client" property="soClient"/>
    <collection property="orderConnectComms"  ofType="OrderConnectComm">
        <id column="bid" property="id"/>
        <result column="order_count" property="orderCount"/>
        <result column="cl_id" property="clId"/>
        <association property="commodityList" javaType="CommodityList">
            <id column="pid" property="id"/>
            <result column="cl_name" property="clName"/>
            <result column="cl_unit" property="clUnit"/>
            <result column="cl_tag_prise" property="clTagPrise"/>
            <result column="cl_number" property="clNumber"/>
        </association>
    </collection>
</resultMap>
    <select id="selectAbc" resultMap="ConnectList">
          select
          a.id,
          a.so_client,
          b.id bid,
          b.order_count,
          b.cl_id,
          c.id pid,
          c.cl_name,
          c.cl_unit,
          c.cl_tag_prise,
          c.cl_number
          from sales_order_history a,order_connect_comm b ,commodity_list c where a.id =b.order_num and b.cl_id =c.id and a.id=#{id}
    </select>
    <select id="selectSaleById" resultType="com.yunhe.cargomanagement.entity.SalesOrderHistory">
        select <include refid="Sql"/> from sales_order_history where id=#{id}
    </select>
</mapper>
