<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.cargomanagement.dao.SalesHistoryMapper">
<sql id="Cols">
    id,sh_date,sh_number,sh_connect,sh_client,sh_sell_goods,sh_sell_count,sh_discount,sh_mins,sh_profit,
    sh_money,sh_true_money,sh_house,sh_bills,sh_create_date,sh_give_date,sh_other,sh_end_comm,sh_hander,
    sh_maker,sh_type,sh_status,sh_remark
</sql>
    <select id="selectSalesHistory" resultType="com.yunhe.cargomanagement.entity.SalesHistory">
        select <include refid="Cols"/>from sales_history
        where sh_client like concat('%',#{salesHistory.shClient},'%')
        and sh_number like concat('%',#{salesHistory.shNumber},'%')
    </select>
    <select id="selectSaleById" resultType="com.yunhe.cargomanagement.entity.SalesHistory">
        select <include refid="Cols"/>from sales_history where id=#{id}
    </select>

    <resultMap id="ConnectList" type="SalesHistory">
        <id column="id" property="id"/>
        <result column="sh_client" property="shClient"/>
        <collection property="orderConnectComms"  ofType="OrderConnectComm">
            <id column="bid" property="id"/>
            <result column="order_count" property="orderCount"/>
            <result column="cl_id" property="clId"/>
            <association property="commodityList" javaType="CommodityList">
                <id column="pid" property="id"/>
                <result column="cl_name" property="clName"/>
                <result column="cl_unit" property="clUnit"/>
                <result column="cl_tag_prise" property="clTagPrise"/>
                <result column="cl_number" property="clNumber"/>
            </association>
        </collection>
    </resultMap>

    <select id="selectAbc" resultMap="ConnectList">
        select
            a.id,
            a.sh_client,
            b.id bid,
            b.order_count,
            b.cl_id,
            c.id pid,
            c.cl_name,
            c.cl_unit,
            c.cl_tag_prise,
            c.cl_number
        from sales_history a,order_connect_comm b ,commodity_list c where a.id =b.sell_order_num and b.cl_id =c.id and a.id=#{id}
    </select>


</mapper>
