<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.cargomanagement.dao.WarehouseMapper">
    <sql id="warehousecol">
        id,wa_number,wa_sp_name,wa_sp_specifications,wa_sp_company,wa_sp_lnventory,wa_sp_current_inventory,
        wa_sp_forout,wa_sp_forenter,wa_cost,wa_total_sum
    </sql>

    <!--分页-->
    <select id="selectAll" resultType="com.yunhe.cargomanagement.entity.Warehouse" parameterType="com.yunhe.cargomanagement.entity.Warehouse">
        select * from warehouse
    </select>

    <!--
        &lt;!&ndash;分页&ndash;&gt;
        <select id="selectWareHousePage" resultType="WareHouse" parameterType="map">
            select
            <include refid="warehousecol"/>
            from warehouse where wa_sp_name like concat('%',#{warehouse.waSpName},'%')
        </select>
    -->


    <!--模糊查询-->
    <select id="selectWareHouseLike" parameterType="com.yunhe.cargomanagement.entity.Warehouse" resultType="com.yunhe.cargomanagement.entity.Warehouse">
        select
        <include refid="warehousecol"/>
        from warehouse where wa_sp_name as waSpName like concat('%',#{waSpName},'%')
    </select>
</mapper>
