<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.cargomanagement.dao.WarehouseReceiptMapper">
    <sql id="warehouse_receipt">
        id
        ,
        wre_date,
        wre_number,
        wre_type,
        wre_current_unit,
        wre_warehost_name,
        wre_storage,
        wre_scheduled_receipt,
        wre_date_order,
        wre_single_person,
        wre_experienced_person,
        wre_state
    </sql>

    <select id="selectwarehouseReceiptByState" parameterType="com.yunhe.cargomanagement.entity.WarehouseReceipt"
            resultType="com.yunhe.cargomanagement.entity.WarehouseReceipt">
        select
        <include refid="warehouse_receipt"/>
        from warehouse_receipt where wre_number like concat('%', #{warehouseReceipt.wreNumber}, '%') AND wre_current_unit like concat('%', #{warehouseReceipt.wreCurrentUnit}, '%') and wre_state = '未入库' order by id desc
    </select>

    <select id="selectwarehouseReceiptTwoByState" parameterType="com.yunhe.cargomanagement.entity.WarehouseReceipt"
            resultType="com.yunhe.cargomanagement.entity.WarehouseReceipt">
        select
        <include refid="warehouse_receipt"/>
        from warehouse_receipt where wre_number like concat('%', #{warehouseReceipt.wreNumber}, '%') AND wre_current_unit like concat('%', #{warehouseReceipt.wreCurrentUnit}, '%') and wre_state = '全部入库' order by id desc
    </select>

    <!--<delete id="deletewarehouseReceiptTwoById" parameterType="com.yunhe.cargomanagement.entity.WarehouseReceipt">
        DELETE FROM warehouse_receipt WHERE id = #{warehouseReceipt.id} and wre_state = '全部入库'
    </delete>-->
</mapper>
