<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.customermanagement.dao.CustomerLevelMapper">
  <select id="sellectList" resultType="com.yunhe.customermanagement.entity.CustomerLevel">

      select * from trades_teward.customer_level
  </select>
</mapper>
