<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑账户</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/laypage/skin/laypage.css">
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/laypage/laypage.js" charset="utf-8"></script>
    <script src="/js/layer/layer.js" charset="utf-8"></script>
    <script src="/js/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script src="/js/jquery.validation/1.14.0/messages_zh.min.js"></script>
</head>
<body>
<div class="container" >
    <form id="updateAccountForm">
        <br/>
        <tr >
            <div >
                <label for="sup_compname">公司名：</label>
                <input type="text" class="form-control"  id="sup_compname" name="sup_compname" th:value='${supplier.supCompname}' placeholder="输入公司名">
                 <input type="text" th:value='${supplier.id}' style="display: none" id="inp">
            </div>
            <div class="form-group">
                <label for="sup_number">公司编号：</label>
                <input type="text" class="form-control" id="sup_number" name="sup_number" th:value='${supplier.supCompname}' placeholder="输入公司编号">
            </div>
            <div class="form-group">
                <label for="sup_money">应还欠款：</label>
                <input type="text" class="form-control" id="sup_money" name="sup_money" th:value='${supplier.supMoney}' placeholder="应收欠款">
            </div>
            <div class="form-group">
                <label for="sup_tele">联系方式：</label>
                <input type="text" class="form-control" id="sup_tele" name="sup_tele" th:value='${supplier.supTele}'  placeholder="联系方式">
            </div>
            <div class="form-group">
                <label for="sup_flag">状态：</label>
                <input type="text" class="form-control" id="sup_flag" name="sup_flag" th:value='${supplier.supFlag}' placeholder="状态">
            </div>
            <div class="form-group">
                <label for="sup_linkman">联系人：</label>
                <input type="text" class="form-control" id="sup_linkman" name="sup_linkman"  th:value='${supplier.supLinkman}' placeholder="联系人">
            </div>
            <div class="form-group">
                <label for="sup_conn">关联人员：</label>
                <input type="text"  class="form-control" id="sup_conn" name="sup_conn" th:value='${supplier.supConn}' placeholder="关联人员">
            </div>
            <div class="form-group">
                <label for="sup_email">邮箱：</label>
                <input type="text"  class="form-control" id="sup_email" name="sup_email" th:value='${supplier.supEmail}' placeholder="邮箱">
            </div>
            <div class="form-group">
                <label for="sup_remarks">备注：</label>
                <input type="text" class="form-control" id="sup_remarks" name="sup_remarks" th:value='${supplier.supRemarks}' placeholder="备注">
            </div>



            <div class="form-group">
                <button type="button" id="updateBtn" class="btn btn-success">修改</button>
                <button type="button" id="cancelBtn" class="btn btn-default">取消</button>
            </div>
        </tr>
    </form>
</div>
<script>
   /* var app = new Vue({
        el:'#app',
        data:{
            result:[]
        }
    });
*/

    var updateAccount = function () {
       if (!check().form()) {
            return;
        }
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: "/customermanagement/supplier/updateCustomer",
            data: {
                id:$("#inp").val(),
                cusNumber: $("#cus_number").val(),
                cusCompname: $("#cus_compname").val(),
                cusMoney: $("#cus_money").val(),
                cusTele: $("#cus_tele").val(),
                cusName: $("#cus_name").val(),
                cusFlag: $("#cus_flag").val(),
                cusConnname: $("#cus_connname").val(),
                cusAddress: $("#cus_address").val(),
                cusEmail: $("#cus_email").val(),
                cus_Qq: $("#cus_qq").val(),
                cusRemarks: $("#cus_remarks").val()
            },
            success:function (data) {
                alert(data);
                $("#cancelBtn").click();
            }
        });

    }


    $("#updateBtn").click(function () {
        updateAccount();
    });
    $("#cancelBtn").click(function () {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);

    });


 function check() {
        return $("#updateAccountForm").validate({
            rules: {
                cusNumber: {
                    required: true
                },
                cusCompname: {
                    required: true
                },
                cusMoney: {
                    required: true
                },
                cusTele: {
                    required: true
                },
                cusName: {
                    required: true
                },
                cusFlag: {
                    required: true
                },
                cusConnname: {
                    required: true
                },
                cusAddress: {
                    required: true
                },
                cusEmail: {
                    required: true
                },
                cus_Qq: {
                    required: true
                },
                cusRemarks: {
                    required: true
                }
            }
        });
    }
</script>
</body>
</html>