<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.basicdata.dao.CommodityListMapper">
    <!--从数据库中获取商品信息-->
    <select id="selectAllCommmList" parameterType="CommodityList" resultType="CommodityList">
        select *
        from commodity_list
    </select>
    <!--增加商品信息-->
    <insert id="insertComm" parameterType="CommodityList">
        insert into commodity_list (cl_number, cl_name, cc_id, cl_spec, us_id, cl_scan, cl_tag_prise, cl_who_price,
                                    cl_pur_price)
        values (#{clNumber}, #{clName}, #{ccId}, #{clSpec}, #{usId}, #{clScan}, #{clTagPrise}, #{clWhoPrice},
                #{clPurPrice});
    </insert>
    <!--查询用户的详细信息-->
    <select id="selectCommById" parameterType="CommodityList" resultType="CommodityList">
        select *
        from commodity_list
        where id = #{id}
    </select>
    <!--更改商品的信息-->
    <update id="updateComm" parameterType="CommodityList">
        update commodity_list
        set cl_number=#{clNumber},
            cl_name=#{clName},
            cc_id=#{ccId},
            cl_spec=#{clSpec},
            us_id=#{usId},
            cl_scan=#{clScan},
            cl_tag_prise=#{clTagPrise},
            cl_who_price=#{clWhoPrice},
            cl_pur_price=#{clPurPrice}
        where id = #{id}
    </update>
    <!--删除商品的信息-->
    <delete id="deleteComm" parameterType="CommodityList">
        delete
        from commodity_list
        where id = #{id}
    </delete>
</mapper>
