<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.basicdata.dao.PropertyMapper">
    <update id="updatename" parameterType="com.yunhe.basicdata.entity.Property">
        update property set pr_attributevalue=#{prattributevalue} where id=#{id}
    </update>

    <select id="selectproperty" resultType="com.yunhe.basicdata.entity.Property">
        SELECT * FROM property  /*LEFT  JOIN propertyval  ON  property.id=propertyval.pnid*/
    </select>
    <select id="selectproperty1" resultType="com.yunhe.basicdata.entity.Propertyval">
        select * from propertyval
    </select>
</mapper>
                                       