<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.basicdata.dao.PropertyMapper">

    <select id="selectproperty" resultType="com.yunhe.basicdata.entity.Property">
        select * from property
    </select>
    <select id="selectproperty1" resultType="com.yunhe.basicdata.entity.PropertyVal">
        select * from propertyval
    </select>
</mapper>
                                       