<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery.css">
    <link rel="stylesheet" href="/css/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="/css/Sortable.css" type="text/css">
    <script type="text/javascript" async="" src="/js/vds.js"></script>
    <script type="text/javascript" src="/js/all_before.js"></script>
    <link rel="stylesheet" href="/css/layer.css" id="layuicss-skinlayercss">
    <script type="text/javascript" src="/js/highcharts.js"></script>
    <script type="text/javascript" src="/js/exporting.js"></script>
    <script type="text/javascript" src="/js/WdatePicker.js"></script>
    <link href="/css/WdatePicker.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/all_after.js"></script>
    <script type="text/javascript" src="/js/flexigrid.js"></script>
    <script type="text/javascript" src="/js/wbi_common.js"></script>
    <script type="text/javascript" src="/js/wbill_common.js"></script>
    <script type="text/javascript" src="/js/filter.js"></script>
    <script type="text/javascript" src="/js/record.js"></script>

</head>
<body>

<input type="hidden" id="pageid" value="addsysuser" spellcheck="false">
<input type="hidden" id="hideBranchid" value="" spellcheck="false">
<input type="hidden" id="hideCurrentBranchid" value="AC42B595-24B0-4824-84CA-8AABD3426A8D" spellcheck="false"><!-- 当前操作用户的branchid -->
<input type="hidden" id="hideBranchname" value="" spellcheck="false">
<input type="hidden" id="hideUserIsRoot" value="" spellcheck="false">
<input type="hidden" id="hidbranchissys" value="" spellcheck="false">
<input type="hidden" id="tabid" value="addUser" spellcheck="false">
<input type="hidden" id="parent_tabid" value="" spellcheck="false">
<input type="hidden" id="currentuserid" value="8200B239-AA59-4230-B288-44D4F021A500" spellcheck="false">
<input type="hidden" id="isactiveEmail" value="0" spellcheck="false">
<input type="hidden" id="isactivePhone" value="0" spellcheck="false">
<input type="hidden" id="isdemo" value="1" spellcheck="false">
<input type="hidden" id="productversion" value="1" spellcheck="false">
<input type="hidden" id="hidisopenclientrankprice" value="0" spellcheck="false">
<input type="hidden" id="hiduserpassword" value="c8zXxVPRA2PU+pYCk/pxtA==" spellcheck="false">

<input type="hidden" id="relationCount" value="" spellcheck="false">
<div class="main">
    <!-- whiteBox -->
    <form id="empl" data-validator-option="{theme:'simple_right'}">
        <div class="whiteBox">
            <input type="hidden" id="empl" value="SysUser" spellcheck="false">
            <input type="hidden" id="isbind" value="0" spellcheck="false">
            <input type="hidden" name="SysUserId" id="SysUserId" value="" spellcheck="false">
            <!-- 激活状态：0：手机邮箱均未绑定、1:手机绑定、2：邮箱绑定、3:手机邮箱均绑定 -->
            <input type="hidden" id="isactive" name="isactive" value="" spellcheck="false">
            <div class="formTitle">基本信息</div>
            <input type="hidden" id="hidcorpid" value="" name="corpid" spellcheck="false">
            <input type="hidden" id="hidcorpusername" value="" spellcheck="false">
            <table width="100%" cellspacing="0" cellpadding="8" border="0">

                <tbody><tr>
                    <td width="80" align="right"><span class="fontRed">*</span>用户名</td>
                    <td>
                        <input type="hidden" name="old_userloginname" id="old_userloginname" value="" spellcheck="false">
                        <input name="userloginname" id="emplusername" placeholder="用户名" maxlength="30" type="text" class="inputText wf250"  ></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="80" align="right"><span class="fontRed">*</span>员工姓名</td>
                    <td>
                        <input type="text" name="" style="width: 0px; height: 0px; " spellcheck="false">
                        <input type="password" name="" value="" style="width: 0px; height: 0px; " spellcheck="false">
                        <input type="hidden" name="old_username" value="" spellcheck="false">
                        <input name="newusername" id="emplrealname" maxlength="50" type="text" class="inputText wf250 fl" data-rule="员工姓名:required;name;" placeholder="员工姓名" data-rule-name="[/^[\u4E00-\u9FA5A-Za-z0-9_]+$/, '只能输入中文,字母数字下划线']" spellcheck="false">
                    </td>
                    <td><span class="font999"></span></td>
                </tr>
                <tr>
                    <td width="80" align="right"><span class="fontRed">*</span>性别</td>
                    <td class="lh30">
                        <input name="sex" id="empl_boy" type="radio" checked="checked" class="" value="男" spellcheck="false"><label for="empl_boy">男</label>&nbsp;&nbsp;&nbsp;
                        <input name="sex" id="empl_gril" type="radio" class=" " value="女" spellcheck="false"><label for="empl_gril">女</label>
                    </td>
                </tr>
                <
                <tr>
                    <td width="80" align="right"><span class="fontRed">*</span>登录密码</td>
                    <td><input name="userpassword" id="emplpassword" type="password" value="" class="inputText wf250 " data-rule="登录密码: required;password;" placeholder="密码" spellcheck="false"></td>
                    <td><span class="font999"></span></td>
                </tr>
                <tr>
                    <td width="80" align="right"><span class="fontRed">*</span>确认密码</td>
                    <td><input name="" id="reuserpassword" type="password" value="" class="inputText wf250 " data-rule="确认密码: required;match(userpassword);" placeholder="密码确认" spellcheck="false"></td>
                    <td><span class="font999"></span></td>
                </tr>
                </tbody></table>
            <div class="formTitle">权限管理</div>
            <table width="100%" cellspacing="0" cellpadding="8" border="0">
                <tbody><tr id="tr_branch" style="display: none;">
                    <td width="80" align="right"><span class="fontRed">*</span>所属门店</td>
                    <td colspan="2" id="branch_td" width="600"><select id="branch" onchange="initPer(1)"><option selected="selected" value="AC42B595-24B0-4824-84CA-8AABD3426A8D" title="总部" issys="1"> 总部</option></select></td>
                </tr>

                <tr>
                    <td style="vertical-align: top" width="80" align="right"><span class="fontRed">*</span>角色</td>
                    <td id="sysuserrole" width="600">








                        <div class="fl">
                            <input rolename="管理员" name="emrole" id="roleid_1" type="checkbox" disabled="disabled" spellcheck="false">
                            <label for="roleid_1">&nbsp;管理员 &nbsp;&nbsp;</label>
                        </div>









                        <div class="fl">
                            <input rolename="销售组" name="emrole" id="roleid_940926" type="checkbox" value="940926" spellcheck="false">
                            <label for="roleid_940926">&nbsp;销售组 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="仓管组" name="emrole" id="roleid_940927" type="checkbox" value="940927" spellcheck="false">
                            <label for="roleid_940927">&nbsp;仓管组 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="财务组" name="emrole" id="roleid_940928" type="checkbox" value="940928" spellcheck="false">
                            <label for="roleid_940928">&nbsp;财务组 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="查看组" name="emrole" id="roleid_940929" type="checkbox" value="940929" spellcheck="false">
                            <label for="roleid_940929">&nbsp;查看组 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="库存查询" name="emrole" id="roleid_940930" type="checkbox" value="940930" spellcheck="false">
                            <label for="roleid_940930">&nbsp;库存查询 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="调拨组" name="emrole" id="roleid_940931" type="checkbox" value="940931" spellcheck="false">
                            <label for="roleid_940931">&nbsp;调拨组 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="采购组" name="emrole" id="roleid_940932" type="checkbox" value="940932" spellcheck="false">
                            <label for="roleid_940932">&nbsp;采购组 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="库管组" name="emrole" id="roleid_940933" type="checkbox" value="940933" spellcheck="false">
                            <label for="roleid_940933">&nbsp;库管组 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="入库组" name="emrole" id="roleid_940934" type="checkbox" value="940934" spellcheck="false">
                            <label for="roleid_940934">&nbsp;入库组 &nbsp;&nbsp;</label>
                        </div>








                        <div class="fl">
                            <input rolename="出库组" name="emrole" id="roleid_940935" type="checkbox" value="940935" spellcheck="false">
                            <label for="roleid_940935">&nbsp;出库组 &nbsp;&nbsp;</label>
                        </div>






                    </td>
                    <td style="vertical-align: top"><a onclick="goAddRole()">角色管理</a></td>
                </tr>
                <tr><td></td>
                    <td><span id="view_branch" style="display: none;"><input type="checkbox" name="permflag" value="7" id="viewother" onclick="selectViewOther()" spellcheck="false"><label for="viewother">&nbsp;查看其他门店库存&nbsp;&nbsp;</label>
						<br><span style="color:gray">（勾选后，可以在库存查询菜单下查看其他门店库存）</span>
						</span>
                    </td>
                </tr>
                <tr name="freemarker">
                    <td style="vertical-align: top" width="80" align="right"><span class="fontRed"></span>关联仓库</td>
                    <td width="600">
                        <table class="tableStyle" id="warehouselist" cellspacing="0" cellpadding="5" border="0">


                            <tbody><tr id="tr_AC42B595-24B0-4824-84CA-8AABD3426A8D">

                                <td rowspan="1" style="min-width:75px">
                                    <input type="checkbox" name="warehouseall" id="warehouseall" onclick="selectallwarehouse(this)" spellcheck="false">
                                    <label for="warehouseall">所有仓库&nbsp;&nbsp;</label>
                                </td>

                                <td id="td_branch" style="display: none;">总部</td>
                                <td id="td_AC42B595-24B0-4824-84CA-8AABD3426A8D">




                                    <div class="fl">
                                        <input type="checkbox" name="warehouse" id="warehouseid_F569D6A1-62D6-4395-865F-CA0CCCF291D6" branchid="AC42B595-24B0-4824-84CA-8AABD3426A8D" value="F569D6A1-62D6-4395-865F-CA0CCCF291D6" userwarehouseid="" spellcheck="false">
                                        <label for="warehouseid_F569D6A1-62D6-4395-865F-CA0CCCF291D6">&nbsp;默认仓库 &nbsp;&nbsp;</label>
                                    </div>

                                </td>
                            </tr>

                            </tbody></table>

                        <span style="color:gray">（关联仓库后，可以查看仓库库存以及经营仓库业务）</span>



                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">
                        价格权限
                    </td>
                    <td width="400">
                        <input type="checkbox" name="permflag" id="pricels" value="1" checked="checked" spellcheck="false">
                        <label for="pricels">&nbsp;零售价&nbsp;&nbsp;</label>
                        <input type="checkbox" name="permflag" id="pricepf" value="2" spellcheck="false">
                        <label for="pricepf">&nbsp;批发价&nbsp;&nbsp;</label>
                        <input type="checkbox" name="permflag" id="priceck" value="3" spellcheck="false">
                        <label for="priceck">&nbsp;参考进货价&nbsp;&nbsp;</label>
                        <input type="checkbox" name="permflag" id="pricelow" value="4" spellcheck="false">
                        <label for="pricelow">&nbsp;最低售价&nbsp;&nbsp;</label>
                        <input type="checkbox" name="permflag" id="pricecb" value="5" spellcheck="false">
                        <label for="pricecb">&nbsp;成本价&nbsp;&nbsp;</label>

                        <input type="checkbox" name="permflag" id="pricecr" value="9" spellcheck="false">
                        <label for="pricecr">&nbsp;等级价&nbsp;&nbsp;</label>

                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top" align="right">其他</td>
                    <td width="550">
                        <input type="checkbox" name="permflag" id="vieworder" value="6" onclick="checkSeven()" spellcheck="false">
                        <label for="vieworder">&nbsp;查看他人单据&nbsp;&nbsp;</label>
                        <br>
                        <span style="color:gray">（勾选后，可以查看他人经手的单据。）</span>
                    </td>

                </tr>

                <tr>
                    <td style="vertical-align: top" align="right"></td>
                    <td width="550">
                        <input type="checkbox" name="permflag" id="viewwirteback" value="8" onclick="checkEight()" spellcheck="false">
                        <label for="viewwirteback">&nbsp;作废他人单据&nbsp;&nbsp;</label>
                        <br>
                        <span style="color:gray">（勾选后，可以作废他人经手的单据。）</span>
                    </td>
                </tr>


                <tr>
                    <td style="vertical-align: top" align="right"></td>
                    <td width="550">
                        <input type="checkbox" name="permflag" id="viewclient" value="10" spellcheck="false">
                        <label for="viewclient">&nbsp;查看他人客户&nbsp;&nbsp;</label>
                        <br>
                        <span style="color:gray">（勾选后，可以查看关联他人的客户和客户应收欠款，开单时也可以选择关联他人的客户）</span>
                    </td>
                </tr>


                </tbody></table>
            <div class="formTitle">更多</div>
            <table width="100%" cellspacing="0" cellpadding="8" border="0">
                <tbody><tr>
                    <td width="80" align="right">手机号</td>
                    <td width="150">
                        <input name="old_useremail" id="exphone" value="" maxlength="50" type="text" class="inputText wf250" >
                        <!--<input name="userphone" id="exlphone" maxlength="30" type="text" class="inputText wf250 " data-rule="mobile;" disabled="disabled" spellcheck="false">-->
                    </td>
                 <!--   <td width="200">
                        <a onclick="bindPhone(this)" class=" button " id="bindPhone">绑定手机号码</a>
                        <span class="repaymentCheck ml10" name="bindphonetip" style="display:none"></span>
                        <span class="ml5" name="bindphonetip" style="display:none">已激活</span>
                        <span class="msg-box" for="userphone"></span></td>
                    <td></td>-->
                </tr>
                <tr>
                    <td width="80" align="right">邮箱</td>
                    <td>
                        <input name="old_useremail" id="exemail" value="" maxlength="50" type="text" class="inputText wf250" data-rule="email" spellcheck="false">
<!--
                        <input name="useremail" id="exemail" maxlength="50" type="text" class="inputText wf250" data-rule="email" disabled="disabled" spellcheck="false"></td>
-->
                    <td>
                        <a onclick="bindEmail(this)" class=" button " id="bindEmail">绑定邮箱</a>
                        <span class="repaymentCheck ml10" name="bindemailtip" style="display:none"></span>
                        <span class="ml5" name="bindemailtip" style="display:none">已激活</span>
                        <span class="msg-box" for="useremail"></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td width="80" align="right">地址</td>
                    <td><input name="address" id="address" type="text" class="inputText wf250" maxlength="100" spellcheck="false"></td>
                    <td><span class="font999"></span></td>
                    <td></td>
                </tr>

                <tr>
                    <td width="80" align="right">状态</td>
                    <td class="lh30"><input name="userstatus" id="userstatus_y" type="radio" checked="checked" value="0" class=" " spellcheck="false"><label for="userstatus_y">正常</label>&nbsp;&nbsp;&nbsp;
                        <input name="userstatus" id="userstatus_n" type="radio" class=" " value="1" spellcheck="false"><label for="userstatus_n">锁定</label>
                        <span class="helpinfo"><span class="tips" style="display: none"><h2></h2><h1>锁定后将限制员工登录系统</h1></span></span>
                    </td>
                    <td><span class="font999"></span></td>
                    <td></td>
                </tr>

                </tbody></table>

        </div>


    </form>

</div>
</tbody>
            </table>
        </form>
    </div>

    <div class="bottomButton moveArea">
        <a id="saveBtn" class="button ">保存</a>
        <a id="cancelBtn" class="button">取消</a>
    </div>

</div>
<script>
    var addUser = function(){

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/systemsetup/employ/insertempl",
            data: {
                emUsername: $("#emplusername").val(),
                emPassword:$("#emplpassword").val(),
                emRealname: $("#emplrealname").val(),
                emRole:$("input:checkbox[name=emrole]:checked").val(),
                emSex:$("input:radio[name=sex]:checked").val(),
                emPhone:$("#exphone").val(),
                emEmail:$("#exemail").val(),
                emAddress:$("#exaddress").val(),

            },
            success: function(msg){
                $('#cancelBtn').click();
            }
        });
    }

    $('#saveBtn').on('click', function(){
        addUser();

    });

    $('#cancelBtn').on('click', function(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.getUserPageList();
        parent.layer.close(index);
    });
    </script>
</body>

</html>