<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.billmanagement.dao.FinanceOrderMapper">
    <sql id="foCols">
        id,fo_num_list,fo_time,fo_money,fo_account,fo_person,fo_remark,fo_image,fc_id,fo_flag
    </sql>
    <!--自动显示编码的SQL语句-->
    <select id="maxId" resultType="int">
        select max(id) from finance_order
    </select>
    <update id="gaiFo" parameterType="map">
        update finance_order set fo_num_list = concat('SZ',DATE_FORMAT(now(), '%Y%m%d'),'00',#{maxId}),fo_time = DATE_FORMAT(now(), '%Y-%m-%d') where id=#{maxId}
    </update>
</mapper>
