<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/laypage/skin/laypage.css">
    <script src="/Vue/vue.min.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/laypage/laypage.js" charset="utf-8"></script>
    <script src="/js/layer/layer.js" charset="utf-8"></script>
    <script src="/js/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script src="/js/jquery.validation/1.14.0/messages_zh.min.js"></script>
</head>
<body>
<div class="container" id="app">
    <form id="addAccountForm">
        <br/>
        <div >
            <label for="zhanghu">账户名称：</label>
            <input type="text"  id="zhanghu" name="zhanghu" placeholder="输入账户名称">
            <input type="checkbox">设置默认账户
        </div>
        <div class="form-group">
            <label for="sabank">开户银行：</label>
            <input type="text" class="form-control" id="sabank" name="sabank" placeholder="开户银行">
        </div>
        <div class="form-group">
        <label for="sabanknumber">银行账号：</label>
        <input type="text" class="form-control" id="sabanknumber" name="sabanknumber" placeholder="银行账号">
    </div>
        <div class="form-group">
            <label for="beginbalance">期初余额：</label>
            <input type="text" class="form-control" id="beginbalance" name="beginbalance" placeholder="期初余额">
        </div>
        <div class="form-group">
            <label for="zhangbalance">账户余额：</label>
            <input type="text" class="form-control" id="zhangbalance" name="zhangbalance" placeholder="账户余额">
        </div>
        <div class="form-group">
            <label for="zhangstate">状态：</label>
            <input type="text" class="form-control" id="zhangstate" name="zhangstate" placeholder="状态">
        </div>
        <div class="form-group">
            <label for="remark">备注：</label>
            <textarea class="form-control" id="remark" name="remark" ></textarea>
        </div>
        <div class="form-group">
            <button type="button" id="saveBtn" class="btn btn-success">提交</button>
            <button type="button" id="cancelBtn" class="btn btn-default">取消</button>
        </div>
    </form>
</div>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            result:[]
        }
    });
    var addAccount=function () {
        $.ajax({
            type:'POST',
            dataType:'json',
            url:"/basicdata/settlement-account/insertaccount",
            data:{
                zhanghu:$("#zhanghu").val(),
                sabank:$("#sabank").val(),
                sabanknumber:$("#sabanknumber").val(),
                beginbalance:$("#beginbalance").val(),
                zhangbalance:$("#zhangbalance").val(),
                zhangstate:1,
            },
            success:function () {
                $("#cancelBtn").click();
            }
        });
    }
    $("#saveBtn").click(function () {
        addAccount();
    });
    $("#cancelBtn").click(function () {
        var index=parent.layer.getFrameIndex(window.name);
        parent.getAccountPageList();
        parent.layer.close(index);
    });

</script>
</body>
</html>