<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增商品</title>
  <!--<link rel="stylesheet" href="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/style.css?version=5.7.0.201901051730" type="text/css">-->
<!-- <link rel="stylesheet" href="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/validator/jquery.validator.css" />
 <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/product.js?version=5.7.0.201901051730"></script>
    <script src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/number.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="http://www.sz886.com/js/jquery-1.9.1.min.js"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/laypage/skin/laypage.css">
    <script src="/Vue/vue.min.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/laypage/laypage.js" charset="utf-8"></script>
    <script src="/js/layer/layer.js" charset="utf-8"></script>
<!--<script src="/js/jquery.validation/1.14.0/jquery.validate.min.js"></script>-->
    <!--   <script src="/js/jquery.validation/1.14.0/messages_zh.min.js"></script>-->
</head>
<body>
<div class="container" id="app">
    <form id="addCommdityForm">
    <br/>
       <div style="width: auto;height: auto">
             <table>
                 <tr>
                   <!--  <td>
                         <button type="button" id="saveBtn1" class="btn btn-success">提交</button>
                     </td>
                     <td>
                         <button type="button" id="cancelBtn1" class="btn btn-default">取消</button>
                     </td>-->
                     <td >
                       <span style="text-align: center"><a  href="#" onclick="CommodityList()" class="btn btn-danger radius" style="text-decoration:none;background-color: #1e97f7">商品列表</a></span>
                     </td>
                 </tr>
             </table>
         </div>
        <hr style="height:1px;background-color: #2E2D3C"/>
           <b>基本信息</b>
            <hr style="height:1px;background-color: #2E2D3C"/>
                条形码 <input type="text" name="tiaoxingma" id="tiaoxingma" placeholder="选填，扫描或录入条形码"><br><br>
            <span class="fontRed">*</span> 编号&nbsp;&nbsp;&nbsp;<input type="text" name="bianhao" id="bianhao"><br><br>
            <span class="fontRed">*</span>名称&nbsp;&nbsp;&nbsp;<input type="text" name="mingcheng" id="mingcheng" ><br><br>
            分类 &nbsp;&nbsp;&nbsp;<select name="fenlei" id="fenlei">
            <option value="moren">默认分类</option>
            <option value="xinjian "> 新建分类</option>
           </select><br><br>
            <tr id="singleUnitTr">
                <td width="100" align="right" class="font14">
                    <span class="fontRed">*</span>单位
                    <select name="danwei" id="danwei" onfocus="selectFocus(this)">
                        <option value="" onclick="selectClick(this)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option value="" onclick="selectClick(this)">包</option>
                        <option value="" onclick="selectClick(this)">杯</option>
                        <option value="" onclick="selectClick(this)">袋</option>
                        <option value="" onclick="selectClick(this)">个</option>
                        <option value="" onclick="selectClick(this)">公斤</option>
                        <option value="" onclick="selectClick(this)">罐</option>
                        <option value="" onclick="selectClick(this)">升</option>
                        <option value="" onclick="selectClick(this)">件</option>
                        <option value="" onclick="selectClick(this)">斤</option>
                        <option value="" onclick="selectClick(this)">克</option>
                        <option value="" onclick="selectClick(this)">排</option>
                        <option value="" onclick="selectClick(this)">瓶</option>
                        <option value="" onclick="selectClick(this)">提</option>
                        <option value="" onclick="selectClick(this)">箱</option>
                        <option value="" onclick="selectClick(this)">支</option>
                    </select>
                <td>
                  <!--  <input class="free" id="enableMultiUnit" name="" type="checkbox" value="" onclick="enableMultiUnit(this)">&nbsp;&nbsp;-->
                   <!-- <input id="enableMultiUnit" name="" type="checkbox" value="多单位支持" onclick="enableMultiUnit(this)" >-->
                    <!--<label class="free" for="enableMultiUnit">多单位支持</label>&nbsp;&nbsp;&nbsp;&nbsp;-->
                </td>
            </tr><br><br>
             规格&nbsp;&nbsp;&nbsp;<input type="text" id="guige" name="guige" placeholder="选填，如'红色长款'"><br><br>
       <tr class="free">
            <td id="multPropertiesTd">
                <input id="enableMultProperties" name="" type="checkbox" value="" onclick="enableMultProperties(this)">
                <label for="enableMultProperties">多属性支持</label>
            </td>
        </tr>
        <!--<div id="multiUnitDiv" style="display: none">
            <div class="formTitle" style="position: static !important;">
                多单位
                <span class="font999" style="font-size: 12px">（多单位时需要把最小度量单位作为基本单位）</span>
            </div>
            <span class="fontRed">*</span>基本单位
            <select name="danwei"  id="danwei" onfocus="selectFocus(this)">
                <option value="" onclick="selectClick(this)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                <option value="" onclick="selectClick(this)">包</option>
                <option value="" onclick="selectClick(this)">杯</option>
                <option value="" onclick="selectClick(this)">袋</option>
                <option value="" onclick="selectClick(this)">个</option>
                <option value="" onclick="selectClick(this)">公斤</option>
                <option value="" onclick="selectClick(this)">罐</option>
                <option value="" onclick="selectClick(this)">升</option>
                <option value="" onclick="selectClick(this)">件</option>
                <option value="" onclick="selectClick(this)">斤</option>
                <option value="" onclick="selectClick(this)">克</option>
                <option value="" onclick="selectClick(this)">排</option>
                <option value="" onclick="selectClick(this)">瓶</option>
                <option value="" onclick="selectClick(this)">提</option>
                <option value="" onclick="selectClick(this)">箱</option>
                <option value="" onclick="selectClick(this)">支</option>
            </select>
            <table id="multiUnitTable" width="100%" border="0" cellspacing="0" cellpadding="8" class="formTable">
                <tr>
                    <td colspan="3">
                        <table id="multiUnitTableDiv" width="100%" border="0" cellspacing="0" cellpadding="8" class="formTable">
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="8" class="formTable">
                            <td width="100" align="right" class="font14"></td>
                            <td width="200">
                                <a href="javascript:;" onclick="addUnit()" class="button">增加单位</a>&nbsp;&nbsp;
                            </td>
                            <td colspan="4"></td>
                        </table>
                    </td>
                </tr>
            </table>
        </div>-->
            <div class="height10">
          <div id="multPropertiesDiv" style="display: none">
                <div class="formTitle free">
                    属性
                    <a class="fr font12" href="">属性设置</a>
                    <hr>
                <table id="multPropertiesTable" width="100%" border="0" cellspacing="0" cellpadding="8" class="formTable">
                    <tr style="display: none" id="multPropertiesTemplate">
                        <td id="multPropertiesTemplateName" name="multPropertiesTemplateName" width="100" align="right" class="font14">
                            <span class="operate delLine"></span>
                        </td>
                        <td width="200">
												<span class="ui-combo-wrap" id="multPropertiesTemplateSpan" name="multPropertiesTemplateSpan">
													<input type="text" id="" name="" class="input-txt" autocomplete="off" value="" data-ref="date" maxlength="20">
													<i class="trigger"></i>
												</span>
                        </td>
                        <td>
                            <span class="font999"></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right" class="font14"></td>
                        <td width="200">
                            <a href="javascript:;" onclick="addProperties()" class="button" style="display: none">增加属性</a>&nbsp;&nbsp;
                         <input id="doNotEnableMultiProperties" name="" type="checkbox" value="" onclick="enableMultProperties(this)" checked>
                           <label for="doNotEnableMultiProperties">多属性支持</label>
                        </td>
                        <td></td>
                    </tr>
                </table>
            <div class="height15"></div>
        </div>
            </div>
        <!--<div class="formTitle" style="position: static !important;display: none">
            销售价格
            <span class="font999" style="font-size: 12px">（未开启按客户等级定价，可在<a href="">客户等级价</a>中开启）</span>
            <hr style="height:1px;background-color: #2E2D3C"/>
					零售价(元)&nbsp;&nbsp;&nbsp;<input type="text" id="lingshoujia" name="lingshoujia"><br><br>
                     批发价(元)&nbsp;&nbsp;&nbsp;<input type="text" id="pifajia" name="pifajia"><br><br>
                    最低零售价(元)&nbsp;&nbsp;&nbsp;<input type="text" name="zuidilingshou" id="zuidilingshou">
                <hr style="width: auto">
            进货价格
            <hr style="height:1px;background-color: #2E2D3C"/>
            参考进货价(元)&nbsp;&nbsp;&nbsp;<input type="text" id="cankaojinhuo" name="cankaojinhuo"><br><br>
        </div>-->
                <div class="formTitle" style="position: static !important;display: block">
                    价格管理
                    <hr style="height:1px;background-color: #2E2D3C"/>
                    <table  border="2" align="center">
                        <thead>
                        <tr>
                            <th width="100" rowspan="2" style="text-align: center">价格类别</th>
                            <th width="100"></th>
                            <th width="600" style="text-align: center">价格/只</th>
                        </tr>
                        </thead>
                        <tr>
                            <td width="300" rowspan="3" style="text-align: center">销售</td>
                            <td width="100" style="text-align: center">零售价</td>
                            <td width="600" style="text-align: center"><input type="text" id="comlingshoujia" style="text-align: center"></td>

                        </tr>
                        <tr>
                            <td width="100" style="text-align: center">最低零售价</td>
                            <td width="600" style="text-align: center"><input type="text" id="comzuilingshoujia" style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td width="100" style="text-align: center">批发价</td>
                            <td width="600" style="text-align: center"><input type="text" id="compifajia" style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td width="100" style="text-align: center">进货</td>
                            <td width="100" style="text-align: center">参考进货价</td>
                            <td width="600" style="text-align: center"><input type="text" id="cankaojinhuojia" style="text-align: center"></td>
                        </tr>
                    </table>
                </div>
        <div class="formTitle" style="position: static !important;">
            库存预警
            <div class="fr font12" >
                <td>
                    <input class="free" id="kucunyujing" name="" type="checkbox" value="" onclick="enableMultiUnit(this)">&nbsp;&nbsp;
                    <label class="free" for="kucunyujing">所有仓库预警值相同</label>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </div>
            <hr style="height:1px;background-color: #2E2D3C"/>
        </div>
    <!-- <div  id="kucunlaing" style="display: block" >
          最低库存量&nbsp;&nbsp;&nbsp;<input type="text" id="zuidikucun" name="zuidikucun"><br><br>
            最高库存量&nbsp;&nbsp;&nbsp;<input type="text" id="zuigaokucun" name="zuigaokucun">
        </div>-->
    <div id="cangku" style="display: block" >
            <table border="1px black solid" align="center">
                <tr style="width: auto;height: auto">
                    <td width="300" style="text-align: center">仓库</td>
                    <td width="300" style="text-align: center" >最低库存量</td>
                    <td width="300" style="text-align: center">最高库存量</td>
                </tr>
                <tr>
                    <td width="300" style="text-align: center">默认库</td>
                    <td style="text-align: center"><input type="text" id="comzuidikucun" name="czuidikc" style="text-align: center"> </td>
                    <td style="text-align: center"><input type="text"  id="comzuigaokucun" name="czuigaok" style="text-align: center"></td>
                </tr>
            </table>
        </div>
        <div class="formTitle">其他</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="8">
            <tr>
                <td width="100" align="right" class="font14">商品状态&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input id="productstate1" name="productstate" type="radio" value="1" checked>
                    启用&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="productstate2" name="productstate" type="radio" value="0"> 停用
                </td>
            </tr>
            <tr>
                <td align="right" class="font14" valign="top">备注&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <textarea id="productremark" name="productremark" rows="" style="height: 40px;" class="inputText wf95" maxlength="500"></textarea>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <button type="button" id="SaveBtn" class="btn btn-success">提交</button>
            <button type="button" id="quxiaobtn" class="btn btn-default">取消</button>
        </div>
            </div>
    </form>
</div>
<script>
    var addCommity=function () {
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"/basicdata/commodity-list/addpage",
            data:{
                tiaoxingma:$("#tiaoxingma").val(),
                bianhao:$("#bianhao").val(),
                mingcheng:$("#mingcheng").val(),
                fenlei:$("#fenlei").val(),
                danwei:$("#danwei").val(),
                guige:$("#guige").val(),
                cankaojinhuo:$("#cankaojinhuojia").val(),
                pifajia:$("#compifajia").val(),
                lingshoujia:$("#comlingshoujia").val(),
                zuidilingshou:$("#comzuilingshoujia").val(),
                czuidikc:$("#comzuidikucun").val(),
                czuigaok:$("#czuigaok").val(),

            },
            success:function () {
                $("#quxiaobtn").click();
            }
        });
    }
   $("#SaveBtn").click(function () {
        addCommity();
    });
  $("#quxiaobtn").click(function () {
        var index=parent.layer.getFrameIndex(window.name);
        /*parent.getCommdityPageList();*/
        parent.layer.close(index);
    });


    /**
     * 实现select的滚动条的script
     * @param that
     */
    window.selectFocus = function(that) {
        $(that).attr("size", 5);
    };
    window.selectClick = function(that) {
        $(that).parent().removeAttr("size");
        $(that).parent().blur();
        $(that).parent().children("[selected='selected']").removeAttr("selected");
        $(that).attr("selected", "");
    };
    /*单位设置的script*/
    $(document).ready(function (e) {
        $("#enableMultiUnit").click(function () {
             if ($(this).is(":checked")) {
                 $("#multiUnitDiv").show();
             }else {
                 $("#multiUnitDiv").hide();
             }
        });
    });
    /*属性设置的script
    * */
    $(document).ready(function (e) {
        $("#enableMultProperties").click(function () {
            if ($(this).is(":checked")) {
                $("#multPropertiesDiv").show();
            }else{
                $("#multPropertiesDiv").hide();
            }
        });
    });
/*   仓库管理*/
    $(document).ready(function (e) {
        $("kucunyujing").click(function () {
            if ($(this).is(":checked")) {
                $("#kucunlaing").style.display= "block";
                $("#cangku").style.display= "none";
            }else{
                $("#kucunlaing").style.display= "none";
                $("#cangku").style.display= "block";
            }
        });
    });
    var CommodityList=function () {
        window.location.href="/basicdata/commodity-list/getcommdityfenye";
    }
</script>

</body>
</html>