<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <script type="text/javascript" src="/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script type="text/javascript" src="/js/vue/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />
    <script type="text/javascript" src="/lib/respond.min.js"></script>
<!--    <script>DD_belatedPNG.fix('*');</script>-->
    <title>商品列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 新手引导 <span
        class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                               href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <input type="text" class="input-text" style="width:250px;margin-left: 1000px" placeholder="输入编号、名称、规格、属性" id="poKeyword" name="poKeyword">
        <button type="submit" class="btn btn-success" id="findempl" name=""><i class="Hui-iconfont">&#xe665;</i>搜索</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
                 <button  id="deleteall" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</button>
           <button id="addcommditybtn" onclick="addcommdity()" class="btn btn-primary radius"> <i class="Hui-iconfont">&#xe600;</i> 添加商品</button>
            <!--<a href="javascript:;"  class="btn btn-danger radius"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a>-->
        <a href="#" onclick="exportexcel()" class="btn btn-danger radius">
        <i class="Hui-iconfont">&#xe600;</i> Excel导出</a>
    </span>
        <span class="r">共有数据：<strong>54</strong> 条</span></div>
    <div id="app" style="overflow: scroll;height: 500px"  >
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="9">商品列表</th>
            </tr>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value="" id="checkAll"></th>
                <th width="40">序号</th>
                <th width="130">操作</th>
                <th width="150">编号</th>
                <th width="90">名称</th>
                <th width="90">基本单位</th>
                <th width="130">零售价(元)</th>
                <th width="150">属性</th>
                <th width="100">规格</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" v-for="(item,index) in result">
                <td><input type="checkbox"   id="box_" :value="item.id"></td>
                <td>{{index+1}}</td>
                <td class="td-manage">
                    <a title="详情" href="javascript:;" @click="xiangEventcommdity(item.id)" class="ml-5" style="text-decoration:none"> <i class="icon Hui-iconfont">&#xe627;</i></a>
                    <a title="编辑" href="javascript:;" @click="editEventcommdity(item.id)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" @click="deleteEventcommdity(item.id)" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                </td>
                <td>{{item.clNumber}}</td>
                <td>{{item.clName}}</td>
                <td>{{item.usId}}</td>
                <td>{{item.clTagPrise}}</td>
                <td>{{item.clSpec}}</td>
                <td>{{item.prId}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="pagenav" style="text-align:center;position: fixed;left: 0px;bottom :50px;width: 100%;height: 50px"></div>
</div>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el : '#app',
        data : {
            result : []
        }
    });
    //查询商品数据
    var getCommdityPageList = function(curr) {
            $.ajax({
                type : "POST",
                dataType : "json",
                url : "/basicdata/commodity-list/getpage",
                data : {
                    current:curr || 1,
                    size:2,
                },
                success : function(msg) {
                    app.result=msg.comlist;
                    laypage({
                        cont : 'pagenav', //容器。值支持id名、原生dom对象，jquery对象,
                        pages : msg.pages, //总页数
                        first : '首页',
                        last : '尾页',
                        curr : curr || 1, //当前页
                        jump : function(obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                getCommdityPageList(obj.curr);
                            }
                        }
                    });
                }
            });
        }
    getCommdityPageList();
   /*模糊查询*/
    $("#findempl").click(function () {
        $.ajax({
            type:'POST',
            dataType:'json',
            url:"/basicdata/commodity-list/vaguelist",
            data:{
                poKeyword:$("#poKeyword").val(),
            },
            success:function (dd) {
                app.result=dd.data;
            }
        });
    })
    /*增加商品*/
    var  addcommdity=function () {
        window.location.href="/basicdata/commodity-list/addcommlist";
    }
    //编辑商品事件
    var editEventcommdity=function (id) {
        $.ajax({
            type:"post",
            dataType:"json",
        })
        window.location.href='/basicdata/commodity-list/selectcommditybyid?id='+id;
    };
    /*商品详情*/
  var xiangEventcommdity =function (id) {
      $.ajax({
          type:'post',
          datatype:'json',
      })
      window.location.href='/basicdata/commodity-list/detailcommodity?id='+id;
   }
    /**
     * 导出excel
     */
   var exportexcel=function () {
    window.location.href="/basicdata/commodity-list/getExcel";
   }
   // 批量删除
    $(function () {
        $("#checkAll").click(function () {
            $("input[id^='box_']").attr("checked",this.checked);
        })
        $("input[id^='box_']").click(function(){//点击每一个子checkbox，都会触发这个事件
            /**获取到下面所有checkbox*/
            var boxs = $("input[id^='box_']");
            $("#checkAll").attr("checked",boxs.filter(":checked").length == 2);
        });
    });
    $("#deleteall").click(function(){
        /**获取下面选中的checkbox*/
        var checkedbox = $("input[id^='box_']:checked");
        if(checkedbox.length == 0){
            alert("请选择要删除的商品！！！");
        }else{
            if(confirm("你确定要删除吗？？？")){
                var ids = new Array();
                checkedbox.each(function(){
                    ids.push(this.value);
                });
                $.ajax({
                    type:'POST',
                    dataType:'json',
                    contentType: 'application/json',
                    url:'/basicdata/commodity-list/deletall',
                    data:JSON.stringify(ids),
                    success: function (msg){
                        getCommdityPageList();
                        if (msg){
                            layer.msg('成功删除',{icon:5});
                        }
                    }
                })
            }
        }
    })
    getCommdityPageList();
    /*单个删除*/
    var deleteEventcommdity = function(id) {
        //询问框
        layer.confirm('您确定要删除么？', {
            btn : [ '是', '否' ]
            //按钮
        }, function() {
            //是
            $.ajax({
                type : "POST",
                dataType : "json",
                url : "/basicdata/commodity-list/deleteComm",
                data : {
                    id:id
                },
                success : function(msg) {
                    getCommdityPageList();
                    layer.msg('已经成功删除记录' + id,{icon:5});
                }
            });
        }, function() {
            //否
        });
    }
</script>
</body>
</html>