<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑商品</title>
  <link rel="stylesheet" href="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/style.css?version=5.7.0.201901051730" type="text/css">
 <link rel="stylesheet" href="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/validator/jquery.validator.css" />
 <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/product.js?version=5.7.0.201901051730"></script>
    <script src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/number.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="http://www.sz886.com/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/layer/layer.js" charset="utf-8"></script>
    <script src="/js/jquery/jquery.min.js"></script>
  <!-- <script src="/jquery/validation.1.14.0/jquery.validate.js/jquery.validate.min.js"></script>
    <script src="/jquery/validation.1.14.0/messages_zh.js/messages_zh.min.js"></script>-->
</head>
<body>
<div class="container" id="app">
    <form id="addCommdityForm">
    <br/>
       <div style="width: auto;height: auto">
             <table>
                 <tr>
                     <td>
                         <button type="button" id="UpdateBtn" class="btn btn-success">修改</button>
                     </td>
                     <td>
                         <button type="button" id="CancelBtnn" class="btn btn-default">取消</button>
                     </td>
                     <td >
                       <span style="margin-right: 50px"><a  href="commoditylist.html">商品列表</a></span>
                     </td>
                 </tr>
             </table>
         </div>
        <hr style="height:1px;background-color: #2E2D3C"/>
           <b>基本信息</b>
            <hr style="height:1px;background-color: #2E2D3C"/>
             条形码 <input type="text" name="tiaoxingma" id="tiaoxingma" th:value="${commodityListid.clScan}" placeholder="选填，扫描或录入条形码"><br><br>
            <span class="fontRed">*</span> 编号&nbsp;&nbsp;&nbsp;<input type="text" th:value="${commodityListid.clNumber}" name="bianhao" id="bianhao"><br><br>
            <span class="fontRed">*</span>名称&nbsp;&nbsp;&nbsp;<input type="text" name="mingcheng" id="mingcheng"  th:value="${commodityListid.clName}"><br><br>
        <input type="hidden" id="ids" th:value="${commodityListid.id}">
            分类 &nbsp;&nbsp;&nbsp;<input type="text" name="fenlei" id="fenlei" th:value="${commclass.ccDefault}"><br><br>
        <span class="fontRed">*</span>单位&nbsp;&nbsp;&nbsp;<input type="text" name="danwei" id="sdanwei"  th:value="${commodityListid.usId}"><br><br>
     <tr id="singleUnitTr">
                <td width="100" align="right" class="font14">
                    <span class="fontRed">*</span>单位
                    <select name="danwei" onfocus="selectFocus(this)">
                        <option value="" onclick="selectClick(this)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option value="" onclick="selectClick(this)">包</option>
                        <option value="" onclick="selectClick(this)">杯</option>
                        <option value="" onclick="selectClick(this)">袋</option>
                        <option value="" onclick="selectClick(this)">个</option>
                        <option value="" onclick="selectClick(this)">公斤</option>
                        <option value="" onclick="selectClick(this)">罐</option>
                        <option value="" onclick="selectClick(this)">升</option>
                        <option value="" onclick="selectClick(this)">件</option>
                        <option value="" onclick="selectClick(this)">斤</option>
                        <option value="" onclick="selectClick(this)">克</option>
                        <option value="" onclick="selectClick(this)">排</option>
                        <option value="" onclick="selectClick(this)">瓶</option>
                        <option value="" onclick="selectClick(this)">提</option>
                        <option value="" onclick="selectClick(this)">箱</option>
                        <option value="" onclick="selectClick(this)">支</option>
                    </select>
                </td>
            </tr><br><br>
             规格&nbsp;&nbsp;&nbsp;<input type="text" id="guige" name="guige" th:value="${commodityListid.clSpec}"><br><br>
        <tr class="free">
            <td id="multPropertiesTd">
                <input type="checkbox" id="propertyid" name="propertyname" onclick="enableProperty(this)"><b>多属性支持</b>
            </td>
        </tr>
            <div class="height10"></div>
        <div id="multPropertyDiv" style="display:none">
            品&nbsp;&nbsp;&nbsp;牌&nbsp;&nbsp;&nbsp;<select id="pinpai" name="pinpai" style="width: 200px">
            <option></option>
        </select><br>
            产&nbsp;&nbsp;&nbsp;地&nbsp;&nbsp;&nbsp;<select id="chandi" name="chandi" style="width: 200px">
            <option></option>
        </select><br>
            自定义属性1&nbsp;&nbsp;&nbsp;<select id="zidingyione" name="zidingyione" style="width: 200px">
            <option></option>
        </select><br>
            自定义属性2&nbsp;&nbsp;&nbsp;<select id="zidingyitwo" name="zidingyitwo" style="width: 200px">
            <option></option>
        </select><br>
            自定义属性3&nbsp;&nbsp;&nbsp;<select id="zidingyithree" name="zidingyithree" style="width: 200px">
            <option></option>
        </select><br>
        </div>
      <!--  <div class="formTitle" style="position: static !important;">
            销售价格
            <span class="font999" style="font-size: 12px">（未开启按客户等级定价，可在<a href="">客户等级价</a>中开启）</span>
            <hr style="height:1px;background-color: #2E2D3C"/>
					零售价(元)&nbsp;&nbsp;&nbsp;<input type="text" th:value="${commodityListid.clTagPrise}" id="lingshoujia" name="lingshoujia"><br><br>
                     批发价(元)&nbsp;&nbsp;&nbsp;<input type="text"  th:value="${commodityListid.clWhoPrice}"  id="pifajia" name="pifajia"><br><br>
                    最低零售价(元)&nbsp;&nbsp;&nbsp;<input type="text" name="zuidilingshou" id="zuidilingshou"  >
            进货价格
            <hr style="height:1px;background-color: #2E2D3C"/>
            参考进货价(元)&nbsp;&nbsp;&nbsp;<input type="text" id="cankaojinhuo" name="cankaojinhuo" th:value="${commodityListid.clPurPrice}" ><br><br>
        </div>-->
        <div class="formTitle" style="position: static !important;display: block">
            价格管理
            <hr style="height:1px;background-color: #2E2D3C"/>
            <table  border="2" align="center">
                <thead>
                <tr>
                    <th width="100" rowspan="2" style="text-align: center">价格类别</th>
                    <th width="100"></th>
                    <th width="600" style="text-align: center">价格/只</th>
                </tr>
                </thead>
                <tr>
                    <td width="300" rowspan="3" style="text-align: center">销售</td>
                    <td width="100" style="text-align: center">零售价</td>
                    <td width="600" style="text-align: center"><input type="text" id="comlingshoujia" style="text-align: center" th:value="${commodityListid.clTagPrise}"></td>

                </tr>
                <tr>
                    <td width="100" style="text-align: center">最低零售价</td>
                    <td width="600" style="text-align: center"><input type="text" id="comzuilingshoujia" style="text-align: center" th:value="${commodityListid.clMinLingPrice}"></td>
                </tr>
                <tr>
                    <td width="100" style="text-align: center">批发价</td>
                    <td width="600" style="text-align: center"><input type="text" id="compifajia" style="text-align: center" th:value="${commodityListid.clWhoPrice}"></td>
                </tr>
                <tr>
                    <td width="100" style="text-align: center">进货</td>
                    <td width="100" style="text-align: center">参考进货价</td>
                    <td width="600" style="text-align: center"><input type="text" id="cankaojinhuojia" style="text-align: center" th:value="${commodityListid.clPurPrice}"></td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="formTitle" style="position: static !important;">
            库存预警
            <div class="fr font12" >
                <td>
                    <input class="free" id="kucunyujing" name="" type="checkbox" value="" onclick="enableMultiUnit(this)">&nbsp;&nbsp;
                    <label class="free" for="kucunyujing">所有仓库预警值相同</label>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </div>
            <hr style="height:1px;background-color: #2E2D3C"/>
        </div>
     <div  id="kucunlaing" style="display: none" >
          最低库存量&nbsp;&nbsp;&nbsp;<input type="text" id="zuidikucun" name="zuidikucun" th:value="${commodityListid.clMinStock}" ><br><br>
            最高库存量&nbsp;&nbsp;&nbsp;<input type="text" id="zuigaokucun" name="zuigaokucun" th:value="${commodityListid.clMAxStock}">
        </div>
<div id="cangku" style="display: block" >
    <table border="1px black solid" align="center">
        <tr style="width: auto;height: auto">
            <td width="300" style="text-align: center">仓库</td>
            <td width="300" style="text-align: center" >最低库存量</td>
            <td width="300" style="text-align: center">最高库存量</td>
        </tr>
        <tr>
            <td width="300" style="text-align: center"><input type="text" id="whwmName" name="whwmName" th:value="${whManagement.wmName}"></td>
            <td style="text-align: center"><input type="text" id="comzuidikucun"  name="czuidikc" style="text-align: center" th:value="${commodityListid.clMinStock}"> </td>
            <td style="text-align: center"><input type="text"  id="comzuigaokucun" name="czuigaok" style="text-align: center" th:value="${commodityListid.clMAxStock}"></td>
        </tr>
    </table>
</div>
<hr>
        <div class="formTitle">其他</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="8">
            <tr>
                <td width="100" align="right" class="font14">商品状态&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input id="productstate1" name="productstate" type="radio" value="1" checked>
                    启用&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="productstate2" name="productstate" type="radio" value="0"> 停用
                </td>
            </tr>
            <tr>
                <td align="right" class="font14" valign="top">备注&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <textarea id="productremark" name="productremark" rows="" style="height: 40px;" class="inputText wf95" maxlength="500"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    var updatecommodity=function () {
        $.ajax({
            type:"post",
            dataType:"json",
            url:"/basicdata/commodity-list/updateComm",
            data:{
                 id:$("#ids").val(),
                tiaoxingma: $("#tiaoxingma").val(),
                bianhao:$("#bianhao").val(),
                mingcheng:$("#mingcheng").val(),
                fenlei:$("#fenlei").val(),
                danwei:$("#danwei").val(),
                guige:$("#guige").val(),
                cankaojinhuo:$("#cankaojinhuojia").val(),
                pifajia:$("#compifajia").val(),
                lingshoujia:$("#comlingshoujia").val(),
                comzuilingshoujia:$("#comzuilingshoujia").val(),
                comzuidikucun:$("#comzuidikucun").val(),
                comzuigaokucun:$("#comzuigaokucun").val(),

            },
            success:function (msg) {
                $("#CancelBtnn").click();
            }
        });
    }
   $('#UpdateBtn').on('click',function () {
       updatecommodity();
    });
  $('#CancelBtnn').click(function () {
        var index=parent.layer.getFrameIndex(window.name);
        parent.getCommdityPageList();
        parent.layer.close(index);
    });
</script>
<script  type="text/javascript">
    /**
     * 实现select的滚动条的script
     * @param that
     */
    window.selectFocus = function(that) {
        $(that).attr("size", 5);
    };
    window.selectClick = function(that) {
        $(that).parent().removeAttr("size");
        $(that).parent().blur();
        $(that).parent().children("[selected='selected']").removeAttr("selected");
        $(that).attr("selected", "");
    };
    /*属性设置的script
    * */
    function enableProperty(obj){
        var checks=document.getElementById("multPropertyDiv");
        if (obj.checked){
            checks.style.display="block";
        } else{
            checks.style.display="none";
        }
    }
/*   仓库管理*/
    function enableMultiUnit(obj){
        var cangku=document.getElementById("cangku");
        var kucunlaing=document.getElementById("kucunlaing");
        if (obj.checked){
            cangku.style.display="none";
            kucunlaing.style.display="block";
        }else{
            cangku.style.display="block";
            kucunlaing.style.display="none";
        }
    }
</script>

</body>
</html>