<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>编辑账户</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/laypage/skin/laypage.css">
    <script src="/Vue/vue.min.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/laypage/laypage.js" charset="utf-8"></script>
    <script src="/js/layer/layer.js" charset="utf-8"></script>
    <script src="/js/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script src="/js/jquery.validation/1.14.0/messages_zh.min.js"></script>
</head>
<body>
    <form id="updateAccountForm">
        <br/>
        <div >
            <label for="zhanghu">账户名称：</label>
            <input type="text" class="form-control"  id="zhanghu" name="zhanghu" th:value="${sellaccount.saName}">
            <input type="hidden" id="ids" th:value="${sellaccount.id}">
        </div>
        <div class="form-group">
            <label for="sabank">开户银行：</label>
            <input type="text" class="form-control" id="sabank" name="sabank" th:value="${sellaccount.saBank}" >
        </div>
        <div class="form-group">
            <label for="sabanknumber">银行账号：</label>
            <input type="text" class="form-control" id="sabanknumber" name="sabanknumber" th:value="${sellaccount.saBankNumber}" >
        </div>
        <div class="form-group">
            <label for="beginbalance">期初余额：</label>
            <input type="text" class="form-control" id="beginbalance" name="beginbalance" th:value="${sellaccount.saBeginBalance}" >
        </div>
        <div class="form-group">
            <label for="zhangbalance">账户余额：</label>
            <input type="text" class="form-control" id="zhangbalance" name="zhangbalance"  th:value="${sellaccount.saBalance}"  >
        </div>
        <div class="form-group">
            <label for="zhangstate">状态：</label>
            <input type="text" class="form-control" id="zhangstate" name="zhangstate"  th:value="${sellaccount.saState}" >
        </div>
        <div class="form-group">
            <button type="button" id="updateBtn" class="btn btn-success">修改</button>
            <button type="button" id="cancelBtn" class="btn btn-default">取消</button>
        </div>

    </form>

<script>
    var updateAccount = function () {
        if (!check().form()) {
            return;
        }
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "/basicdata/settlement-account/updateAccount",
            data: {
               id:$("#ids").val(),
                zhanghu: $("#zhanghu").val(),
                sabank: $("#sabank").val(),
                sabanknumber: $("#sabanknumber").val(),
                beginbalance: $("#beginbalance").val(),
                zhangbalance: $("#zhangbalance").val(),
                zhangstate: $("#zhangstate").val()
            },
            success: function () {
                $("#cancelBtn").click();
            }
        });
    }


    $("#updateBtn").click(function () {
        updateAccount();
    });
    $("#cancelBtn").click(function () {
        var index = parent.layer.getFrameIndex(window.name);
        parent.getAccountPageList ();
        parent.layer.close(index);

    });
    function check() {
        return $("#updateAccountForm").validate({
            rules: {
                zhanghu: {
                    required: true
                },
                sabank: {
                    required: true
                },
                sabanknumber: {
                    required: true
                },
                beginbalance: {
                    required: true
                },
                zhangbalance: {
                    required: true
                },
                zhangstate: {
                    required: true
                }
            }
        });
    }
</script>
</body>
</html>