<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/laypage.css">
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vue/vue.min.js"></script>
    <script type="text/javascript" src="/js/layer/layer.js"></script>
    <script type="text/javascript" src="/js/laypage/laypage.js"></script>
</head>
<body>
<div id="app" class="container">

    <form class="form-inline bg-danger" role="form">

        <div class="form-group">
            <label class="sr-only" for="select">用户名称</label>
            <input type="text" class="form-control" id="select" placeholder="搜索编号、名称、联系人、电话...">
        </div>
        <!--<div class="form-group">
            <label class="sr-only" for="userage">用户年龄</label>
            <input type="text" class="form-control" id="userage" placeholder="用户年龄">
        </div>-->
        <button type="button" id="findWare" class="btn btn-success">搜索</button>
       <!-- <button type="button" id="addUserBtn" class="btn btn-danger">增加用户</button>-->
    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="success">
                <td>序号</td>
                <td>操作</td>
                <td>编号</td>
                <td>名称</td>
                <td>联系人</td>
                <td>联系电话</td>
                <td>状态</td>
            </tr>
            </thead>
            <tbody>
            <tr class="active" v-for="(item,index) in result">
                <td>{{index+1}}</td>
                <td></td>
                <td>{{item.wmNumber}}</td>
                <td>{{item.wmName}}</td>
                <td>{{item.wmPerson}}</td>
                <td>{{item.wmTel}}</td>
                <td v-if="item.wmState===1">
                    启用
                </td>
                <td v-else>
                    禁用
                </td>

                <td><a href="#" @click="editEvent(item.id)">编辑</a>
                    <a href="#" @click="delEvent(item.id)">删除</a></td>
            </tr>
            </tbody>
        </table>
        <div id="pagenav"></div>
    </div>
</div>
<script type="text/javascript">
    var app=new Vue({
        el: '#app',
        data: {
            result: []
        }
    });

    var getUserPageList = function (curr) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/basicdata/warehouse-management/select',
            data: {
                pageNum: curr || 1,
                pageSize: 1,
                name: $("#username").val()
            },
            success: function (msg) {
                 console.log(msg)
                app.result = msg.list;
                console.log("app.list====" +app.list);
                laypage({
                    cont: 'pagenav', //容器
                    pages: msg.totalPage,
                    first: '首页',
                    last: '尾页',
                    skin: '#00A0E9',
                    curr: curr || 1,
                    jump: function (obj, first) {
                        if (!first) {
                            getUserPageList(obj.curr);
                        }
                    }
                });
            }

        });
    }
$("#findWare").click(function () {
    $.ajax({
        type:'post',
        dataType:'json',
        url:'/basicdata/warehouse-management/vagueselect',
        data:{
            data:$("#select").val()
        },
        success:function (da) {
            console.log(da);
            console.log("da.list==="+da.list);
            app.result=da.list;
        }
    })
})

    getUserPageList();




</script>

</body>
</html>
