<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script src="/js/jquery.validation/1.14.0/messages_zh.min.js"></script>
</head>
<body>


<form>
    <div class="control-group">
        <!-- Select Basic -->
        <label class="control-label">楼层</label>
        <div class="controls">
            <select class="input-xlarge" id="prhNumber" name="house.louceng">
                <option>第1层</option>
                <option>第2层</option>
                <option>第3层</option>
                <option>第4层</option>
                <option>第5层</option>
                <option>第6层</option>
                <option>第7层</option>
                <option>第8层</option>
                <option>第9层</option>
                <option>第10层</option>
                <option>第11层</option>
                <option>第12层</option>
                <option>第13层</option>
                <option>第14层</option>
                <option>第15层</option>
                <option>第16层</option>
                <option>第17层</option>
                <option>第18层</option>
                <option>第19层</option>
                <option>第20层</option>
                <option>第21层</option>
                <option>第22层</option>
            </select>
        </div>
    </div>
    <input type="text" id="prhDate">
    <button id="addPurchaseBtn">提交</button>
</form>


<script>
    $('#addPurchaseBtn').on('click', function () {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/cargomanagement/purchase-return-history/Test',
            data: {
                prhNumber: $("#prhNumber").val(),
                prhDate:$("#prhDate").val()
            },
            success: function (msg) {

            }
        });
    });
</script>


</body>
</html>