<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商品列表</title>
   <!-- <link rel="stylesheet" href="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/style.css?version=5.7.0.201901051730" type="text/css">
    <link rel="stylesheet" href="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/validator/jquery.validator.css" />
    <link rel="stylesheet" href="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/Sortable.css?version=5.7.0.201901051730" type="text/css">
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/all_before.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/highcharts/js/highcharts.js"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/highcharts/js/modules/exporting.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/upload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/all_after.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/Static-webapp/jsmin/javascript/flexgrid/js/flexigrid.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/common/wbi_common.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/common/wbill_common.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/filter/filter.js"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/common/record.js"></script>
    <script src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/disable.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/product.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/tree.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/table.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/batch.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/common.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/topset.js?version=5.7.0.201901051730"></script>
    <script type="text/javascript" src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/js/product/list.js?version=5.7.0.201901051730"></script>
    <script src="https://cdn.zhsmjxc.com/CDN/UCenter-webapp/orderPlus/manager/js/product/common.js?version=5.7.0.201901051730"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/laypage.css">
    <script src="/js/vue/vue.min.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/laypage/laypage.js" charset="utf-8"></script>
    <script src="/js/layer/layer.js" charset="utf-8"></script>
    <!--GrowingIO 全局引入  -->
   <!-- <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        function addGrowingCS(csindex,csKey,valueKey){
            var csValue = getValueFromRoot(valueKey);
            if(csValue){
                _vds.push(['setCS'+csindex, csKey, csValue]);
            }
        }
        (function(){
            _vds.push(['setAccountId', '96cf4aed2bf68eba']);
            try{
                addGrowingCS(1,'ContactId','contactid');
                addGrowingCS(2,'UserId','userid');
                addGrowingCS(3,'ProductCersion','productversion');
                addGrowingCS(4,'IsPay','ispay');
                addGrowingCS(5,'TradeCode','tradecode');
            }catch(e){}
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>-->
    <!-- add by wangsheng 阿里云前端性能监控 先在测试环境验证，不发生产 -->
</head>
<body>
<!--onload="product_list()" style="background: none;"-->
<!--<div id="detailOfTran" class="lineSet " style="position:absolute;display:none;
        top:200px;left:200px;float:left; width:200px;height:200px;z-index: 1000;border:3px solid rgb(215, 215, 215)"></div>
<input id="ptproductids" type="hidden" value="" title="存在套餐或者模板的商品">
<input id="wioproductids" type="hidden" value="" title="存在出入库单据的商品">
<div style="display: none">
    <input id="batchEnablingSerialNumberId" type="text" value="C744CD24-A113-476B-8E2E-83F2D0CE9EC5" /></br>
    <input id="staticpath" type="text" value="https://cdn.zhsmjxc.com/CDN/Static-webapp"/></br>
    <input id="basepath" type="text" value="http://web.zhsmjxc.com:80/UCenter-webapp/"><br />
    <input id="pid" type="text" value="A82BC44C-91FD-4D5A-BA02-F1AB53C1379B-1546931469988-582"><br />
    <input id="pagename" type="text" value="list" /><br />
    <input id="classids" type="text" /> <br />
    <input id="imagesrc" type="text" value="https://static.zhsmjxc.com/attached/" /><br />
    <input id="tabid" value="" /><br />
    <input id="search_snmanage" name="search_snmanage" type="text" value="" /><br />
    <input type="text" value="" id="classid"/><br />
    <input id="search_productstate" name="search_productstate" type="text" value="" /><br />
    <input id="sadasd" value="0" type="hidden"/>
    <input id="isOpenClientRankPrice" value="0" desc="是否开启客户价格等级"/>
</div>
<input id="method" type="text" value="默认值" style="display: none">
<div id="main" class="main" style="min-width: 1100px">
    <div class="whiteBox actionArea">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    &lt;!&ndash; 						<a href="javascript:;" onclick="addClass()" class="button blueButton withIcon fl mr5">  &ndash;&gt;
                    &lt;!&ndash; 							<span class="text">新增分类</span> &ndash;&gt;
                    &lt;!&ndash; 						</a>  &ndash;&gt;
                    <a href="javascript:;" onclick="addRecord()" class="button blueButton withIcon fl mr5">
                        <span class="text">新增商品</span>
                    </a>
                    <a href="javascript:;" onclick="addRecord2()" class="button withIcon fl mr5 free">
                        &lt;!&ndash; 							<span class="icon"></span>  &ndash;&gt;
                        <span class="text">组合新增商品</span>
                    </a>
                    <div class="impAndExp mr5">
                        <ul class="impAndExp-list">
                            <li class="normal">
                                <a href="javascript:;" onclick="importList()" class="button  withIcon fl mr5" >
                                    <span class="icon importIcon"></span>
                                    <span class="text">导入</span>
                                    <span class="impAndExp-list-icon"></span>
                                </a>
                            </li>
                            <li class="normal">
                                <a href="javascript:;" onclick="exportList()" class="button  withIcon fl mr5" >
                                    <span class="icon exportIcon"></span>
                                    <span class="text">导出</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="selectButton fl mr5" onclick="batchOperation()">
                        <div class="title">
                            <span class="text">批量操作</span><span class="icon"></span>
                        </div>
                        <ul id="batchOperation" style="display: none; z-index: 1000" class="value">
                            <li class="normal">
                                <a target="_blank" onclick="PrintBarCode(this)" href="javascript:;">打印条码对照表</a>
                            </li>
                            <li class="normal">
                                <a onclick="batchDisable()" href="javascript:;">停用</a>
                            </li>
                            <li class="normal">
                                <a onclick="batchEnable()" href="javascript:;">启用</a>
                            </li>

                            <li class="normal">
                                <a onclick="batchMoveClass(1)" href="javascript:;">移动至分类</a>
                            </li>

                            <li class="lastOne">
                                <a onclick="batchDelete()" href="javascript:;">删除</a>
                            </li>
                        </ul>
                    </div></td>
                <td align="right" width=""> <a id="showOrHideAdvancedSearch" href="javascript:;"
                                               onclick='showOrHideAdvancedSearch()' class="button fr">筛选</a>
                    <div id="searchDiv" class="search mr5 fr" style="">
                        <a href="javascript:;" onclick="list_search()" class="button fr">搜索</a>
                        <input id="keyword" name="" type="text" class="inputText fr mr5" size="35"  placeholder="搜索编号、名称、规格、属性、条形码、备注"  title="搜索编号、名称、规格、属性、条形码、备注" style="text-overflow:ellipsis" >
                        <input id="querytype" type="" value="0" style="display: none" />
                    </div>
                    <span id="searchSpan" class="fr mr10 lh30" style="width:120px;">
					  <label class="fr" for="doNotShowDisableProducts">不显示停用商品 </label>
					  <input
                              id="doNotShowDisableProducts" class="mr5 mt10 fr"
                              onclick="doNotShowDisableProducts(this)" type="checkbox" value=""
                              checked="checked" />
					</span>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>
    <table id="advancedSearchTable" width="100%" border="0"
           cellspacing="0" cellpadding="10" class="expertSearch dependInputWd"
           style="display: none">
        <tr>
            <td style="border-right: 1px solid #d7d7d7;">
                <div class="value">
                    <div class="title">编号</div>
                    <div class="text">
                        <input id="search_productcode" name="search_productcode" type="text" class="inputText">
                    </div>
                </div>
                <div class="value">
                    <div class="title">名称</div>
                    <div class="text">
                        <input id="search_productname" name="" type="text" class="inputText">
                    </div>
                </div>
                <div class="value">
                    <div class="title">规格</div>
                    <div class="text">
                        <input id="search_productform" name="search_productform" type="text" class="inputText">
                    </div>
                </div>
                <div class="value" id="serialnumberstate">
                    <div class="title">序列号状态</div>
                    <div class="text">
                        <select id="snmanageSelect" onchange="snmanageSelect()" style="width: 140px">
                            <option value="">全部</option>
                            <option value="1">启用</option>
                            <option value="0">停用</option>
                        </select>
                    </div>
                </div>
                <div class="value free">
                    <div class="title">属性</div>
                    <div class="text">
                        <input id="search_propertytext" name="" type="text" class="inputText">
                    </div>
                </div>
                <div class="value">
                    <div class="title">备注</div>
                    <div class="text">
                        <input id="search_productremark" name="" type="text" class="inputText">
                    </div>
                </div>
            </td>
            <td valign="middle" align="center" width="220"><a
                    href="javascript:;" onclick="list_advancedSearch()"
                    class=" button blueButton">搜索</a> <a href="javascript:;"
                                                         class="button" onclick="emptySearchOptions()">清空所有搜索条件</a></td>
        </tr>
    </table>
    <div class="whiteBox noPadding wf100 dhCos">
        <div class="itTableWrap">
            <div id="menu1" class="wf100 fl">
                <div id="menu1td1" class="borderB itTableWrapTitle borderR fl" style="width: 190px;">
                    <span class="font14">商品分类</span>
                    <span class="classifyEdit fr"> </span>
                </div>
                <div id="menu1td2" style="display: none"></div>
                <div class="fl  itTableWrapTitle">
                    所属分类:<a id="category"><span class=" fontOrange2">商品分类</span></a>
                </div>
            </div>
            <div class="wf100 fl" style="position: relative;">
                <div class="itTableWrapLf ">
                    <div id="menu2" class="itTableWrapLf-bottom itTbW_pd">
                        <ul id="treeDemo" class="ztree" style="width: 190px;height: 460px;overflow-x: auto;" autoEqualHeightWith="$('#tabledata')">
                        </ul>
                    </div>
                </div>
                <div class="itTableWrapRt borderT" id="tabledata" style="margin-top: -1px;">
                    <div id="menu3"><a id="" href="javascript:;" onclick='showOrHideProductClass(this)' class="unfold suspend"></a></div>
                    <div class="itTableWrapRt-bottom borderL">
                        <div class="whiteBox datadiv" style="box-shadow: 0 0 0 #000; padding-bottom: 0px;margin-bottom: 0px;">
                            <table id="resultList" style="display: none" cellpadding="5"></table>
                        </div>
                    </div>
                </div>
                &lt;!&ndash; 当左侧隐藏后需为itTableWrapRt添加margin-left:20px;左侧列显示时，需删除margin-left:20px; &ndash;&gt;
            </div>
        </div>
    </div>
</div>
<div class="loadding" style="display: none"></div>
<div id="exportDiv" style="display: none">
    <div class="cover"></div>
    <div class="popArea" style="width:300px; height:100px; padding:30px;position: absolute; box-shadow:0 0px 18px rgba(0,0,0,.5); top:35%; left:35%; z-index:1000; border-radius:5px;">
        <p align="center"><span class="font24 fontB">正在导出</span><span style="font-size:70px;"></span></p>
        <div class="progress">
            <div id="progressimage" class="progressIN" style="width:100%; "></div>
        </div>
    </div>
</div>-->
<div id="app" class="container">
<div class="table-responsive">
    <form>
    <table class="table">
        <thead>
        <tr class="success">
            <td><input type="checkbox"></td>
            <td>列配置</td>
            <td>编号</td>
            <td>名称</td>
            <td>基本单位</td>
            <td>零售价</td>
            <td>规格</td>
            <td>属性</td>
            <td>编辑</td>
        </tr>
        </thead>
        <tbody>
        <tr class="active" v-for="(item,index) in result">
            <td><input type="checkbox"></td>
            <td>{{index+1}}</td>
            <td>{{item.clNumber}}</td>
            <td>{{item.clName}}</td>
            <td>{{item.usId}}</td>
            <td>{{item.clTagPrise}}</td>
            <td>{{item.clSpec}}</td>
            <td>{{item.prId}}</td>
            <td><a href="#" @click="editEvent(item.id)">编辑</a>    <a href="#" @click="delEvent(item.id)">删除</a>
                <a href="#" @click="copyinsert(item.id)">复制新增</a>
            </td>
        </tr>
        </tbody>
        <tr>
            <td colspan="3"><div id="pagenav"></div></td>
        </tr>
    </table>
    </form>
</div>
</div>
<script>
    var app = new Vue({
        el : '#app',
        data : {
            result : []
        }
    });
    //查询商品数据
    var getCommdityPageList = function(curr) {
        $.ajax({
            type : "POST",
            dataType : "json",
            url : "/basicdata/commodity-list/getpage",
            data : {
                current:curr || 1,
                size:5,
            },
            success : function(msg) {
                app.result=msg.comlist;
                laypage({
                    cont : 'pagenav', //容器。值支持id名、原生dom对象，jquery对象,
                    pages : msg.total, //总页数
                    first : '首页',
                    last : '尾页',
                    curr : curr || 1, //当前页
                    jump : function(obj, first) { //触发分页后的回调
                        if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                            getCommdityPageList(obj.curr);
                        }
                    }
                });
            }
        });
    }
    getCommdityPageList();
    //模糊查询
   /* $('#findUser').on('click', function() {
        getUserPageList();
    });*/
    //编辑用户事件
    var editEvent = function(id) {
        layer.open({
            type : 2,
            title : '编辑用户',
            fix : false,
            maxmin : true,
            shadeClose : true,
            area : [ '1100px', '600px' ],
            content : '/getbyid.do?id='+id,
            end : function() {
                getUserPageList();
            }
        });
    }
    //增加用户事件
    $('#addUserBtn').on('click', function() {
        layer.open({
            type : 2,
            title : '添加用户',
            fix : false,
            maxmin : true,
            shadeClose : true,
            area : [ '1100px', '600px' ],
            content : '/toadd.do',
            end : function() {
                getUserPageList();
            }
        });

    });

    //删除商品事件
    var delEvent = function(id) {
        //询问框
        layer.confirm('您确定要删除么？', {
            btn : [ '是', '否' ]
            //按钮
        }, function() {
            //是
            $.ajax({
                type : "POST",
                dataType : "json",
                url : "/basicdata/commodity-list/deleteComm",
                data : {
                    id:id
                },
                success : function(msg) {
                    getCommdityPageList();
                    layer.msg('已经成功删除记录' + id,{icon:5});
                }
            });
        }, function() {
            //否
        });
    }
</script>
</body>
</html>
