<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" />
		<link rel="stylesheet" href="css/Site.css" />
		<link rel="stylesheet" href="css/zy.all.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/amazeui.min.css" />

	  <link rel="stylesheet" href="css/admin.css" />
		<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="js/plugs/Jqueryplugs.js" type="text/javascript"></script>
		<script src="js/_layout.js"></script>
		<script src="js/plugs/jquery.SuperSlide.source.js"></script>
		<script type="text/javascript" src="js/vue/vue.min.js"></script>
		<script type="text/javascript" src="js/laypage/laypage.js"></script>
	</head>

	<body>
		<div class="dvcontent">

			<div id="app">
				<!--tab start-->
				<div class="tabs">
					<div class="hd">
						<ul>
							<li class="on" style="box-sizing: initial;-webkit-box-sizing: initial;">库存管理</li>
							 <li class="" style="box-sizing: initial;-webkit-box-sizing: initial;">添加商品</li>
						</ul>
					</div>
					<div class="bd">
						<ul style="display: block;padding: 20px;">
							<li>
								<!--分页显示角色信息 start-->
								<div id="dv1">
									<table class="table" id="tbRecord">
										<thead>
											<tr>
												<th>序号</th>
												<th>操作</th>
												<th>编号</th>
												<th>名称</th>
												<th>联系人</th>
												<th>联系电话</th>
												<th>状态</th>
												
											</tr>
										</thead>
										<tbody>
										<tr  v-for="(item,index) in result">
											<td>{{index+1}}</td>
											<td>{{item.wm_name}}</td>
											<td>{{item.wm_number}}</td>
										</tr>

										<tr>
												<td>1</td>
												<td>
													<button onclick="btn_edit(1)"><i class="icon-edit bigger-120"></i>编辑</button>
													<button onclick="btn_delete(1)"><i class="icon-trash bigger-120"></i>删除</button>
												</td>
												<td>肉类</td>
												<td>1000</td>
												<td class="edit"></td>
												<td class="delete"></td>
											</tr>

										</tbody>
									
									</table>
								</div>
								<!--分页显示角色信息 end-->
							</li>
						</ul>
						<ul class="theme-popbod dform" style="display: none;">
								<div class="am-cf admin-main" style="padding-top: 0px;">
			<!-- content start -->
								</div>
						</ul>
					</div>
				</div>
			</div>
		</div>


			<script>
				var app=new Vue({
					el: '#app',
					data: {
						result: []
					}
				});
				var getwarehouse=function (curr) {
					$.ajax({
						type:'post',
						dataType:'json',
						url:'/basicdata/warehouse-management/select',
						data:{
							pageNum:curr ||1,
							pageSize:2,

						},
						success:function (msg) {
							app.result=msg.map;
						}
					})
				}




				var num = 1;
				$(function() {

				 $(".tabs").slide({ trigger: "click" });

				});

	
				var btn_save = function() {
					var pid = $("#RawMaterialsTypePageId  option:selected").val();
					var name = $("#RawMaterialsTypeName").val();
					var desc = $("#RawMaterialsTypeDescription").val();
					var ramark = $("#Ramark").val();
					$.ajax({
						type: "post",
						url: "/RawMaterialsType/AddRawMaterialsType",
						data: { name: name, pid: pid, desc: desc, ramark: ramark },
						success: function(data) {
							if(data > 0) {
								$.jq_Alert({
									message: "添加成功",
									btnOktext: "确认",
									dialogModal: true,
									btnOkClick: function() {
										//$("#RawMaterialsTypeName").val("");
										//$("#RawMaterialsTypeDescription").val("");
										//$("#Ramark").val("");                           
										//page1();
										location.reload();

									}
								});
							}
						}
					});
					alert(t);
				}

				var btn_edit = function(id) {
					$.jq_Panel({
						url: "/RawMaterialsType/EditRawMaterialsType?id=" + id,
						title: "编辑分类",
						dialogModal: true,
						iframeWidth: 500,
						iframeHeight: 400
					});
				}
				var btn_delete = function(id) {
					$.jq_Confirm({
						message: "您确定要删除吗?",
						btnOkClick: function() {
							
						}
					});
				}
			</script>

		</div>
	</body>

</html>