<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>进货历史</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/laypage.css">
    <script type="text/javascript" src="/js/vue/vue.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/layer/layer.js"></script>
    <script type="text/javascript" src="/js/laypage/laypage.js"></script>
</head>
<body>
<div id="app" class="container">

    <form class="form-inline bg-danger" role="form">
        查询条件：
        <div class="form-group">
            <label class="sr-only" for="phNumber">搜索单号</label>
            <input type="text" class="form-control" id="phNumber" placeholder="搜索单号">
        </div>
        <div class="form-group">
            <label class="sr-only" for="phSupname">供应商名称</label>
            <input type="text" class="form-control" id="phSupname" placeholder="供应商名称">
        </div>
        <button type="button" id="findPurchase" class="btn btn-success">搜索</button>
        <button type="button" id="addPurchaseHistoryBtn" class="btn btn-danger">新增进货订单</button>
    </form>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="success">
                <td>序号</td>
                <td>业务日期</td>
                <td>单据编号</td>
                <td>供应商名称</td>
                <td>进货商品</td>
                <td>进货数量</td>
                <td>应付金额</td>
                <td>已付金额</td>
                <td>入库仓库</td>
                <td>纸质单据</td>
                <td>制单日期</td>
                <td>结算账户</td>
                <td>经手人</td>
                <td>制单人</td>
                <td>其他费用</td>
                <td>入库状态</td>
                <td>备注</td>
            </tr>
            </thead>
            <tbody>
            <tr class="active" v-for="(item,index) in result">
                <td>{{index+1}}</td>
                <td>{{item.phDate}}</td>
                <td>{{item.phNumber}}</td>
                <td>{{item.phSupname}}</td>
                <td>{{item.phClname}}</td>
                <td>{{item.phQuantity}}</td>
                <td>{{item.phAmountPayable}}</td>
                <td>{{item.phAmountPaid}}</td>
                <td>{{item.phWarehouse}}</td>
                <td>{{item.phBill}}</td>
                <td>{{item.phJindate}}</td>
                <td>{{item.phManeyHu}}</td>
                <td>{{item.phExperiencedPerson}}</td>
                <td>{{item.phSinglePerson}}</td>
                <td>{{item.phOtherExpenses}}</td>
                <td>{{item.phWarehousingStatus}}</td>
                <td>{{item.phRemarks}}</td>
                <td><a href="#" @click="editEvent(item.id)">编辑</a>&emsp;<a href="#" @click="delEvent(item.id)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="pagenav"></div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            result: []
        }
    });
    //查询
    var getPurchaseHistoryPageList = function (curr) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/cargomanagement/purchase-history/getPurchaseHistoryPage',
            data: {
                /*当前页*/
                pageNum: curr || 1,
                /*每页大小*/
                pageSize: 1,
                phNumber: $("#phNumber").val(),
                phSupName:$("#phSupname").val()
                //向服务端传的参数，此处只是演示
            },
            success:function (msg) {
                app.result = msg.list;
                laypage({
                    cont: 'pagenav',//容器  值支持id名、原生dom对象，jquery对象,
                    pages: msg.pages,//总页数
                    first : '首页',
                    last : '尾页',
                    curr: curr || 1,//初始化页数
                    jump: function (obj, first) { //触发分页后的回调
                        if (!first) {     //点击跳页触发函数自身，并传递当前页：obj.curr
                            getPurchaseHistoryPageList(obj.curr);
                        }
                    }
                });
            }
        });
    };
    getPurchaseHistoryPageList();
    //多条件模糊查询
    $("#findPurchase").on('click',function () {
        getPurchaseHistoryPageList();
    });

    //增加用户
    $('#addPurchaseHistoryBtn').on('click', function () {
        layer.open({
            type: 2,
            title: '新增进货历史',
            fix: false,
            maxmin: true,
            shadeClose: true,
            area: ['1000px', '600px'],
            content: '/cargomanagement/purchase-history/addPurchaseHistory',
            end: function () {
                getPurchaseHistoryPageList();
            }
        });
    });
</script>
</body>
</html>