<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <script type="text/javascript" src="/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script type="text/javascript" src="/js/vue/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <title>管理员列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 角色管理
    <span class="c-gray en">&gt;</span> 角色列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                               href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" style="margin: 0px;padding: 0px">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <a href="javascript:;" id="addUserBtn" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>新增角色</a>
        <span class="r">共有数据：<strong id="strong"></strong> 条</span></div>
    <div id="app" >
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="9">分组列表</th>
            </tr>
            <tr class="text-c">

                <th width="30">序号</th>
                <th width="30">操作</th>
                <th width="100">角色名称</th>
                <th width="200">角色描述</th>

            </tr>
            </thead>
            <tbody>
            <tr class="text-c" v-for="(item,index) in result">
                <td>{{index+1}}</td>
                <td class="td-manage">
                    <a style="text-decoration:none" class="ml-5" @click="updaterole(item.id)"  title="编辑">
                        <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                    <a id="del" title="删除" href="javascript:;" @click="delEvent(item.id)" class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
                <td>{{item.chName}}</td>
                <td>{{item.chDetail}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="pagenav" style="text-align: center"></div>
</div>
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var app = new Vue({
        el: '#app',
        data: {
            result: []
        }
    });

    var getUserPageList = function (curr) {
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '/systemsetup/chara-manger/charalist',
            data: {
                pageNum: curr || 1,
                pageSize: 10,

            },
            success: function (msg) {
                app.result = msg.list;
                $("#strong").html(msg.total);
                laypage({
                    cont: 'pagenav',
                    pages: msg.totalPage,
                    first: '首页',
                    last: '尾页',
                    skin: '#00A0E9',
                    curr: curr || 1,
                    jump: function (obj, first) {
                        if (!first) {
                            getUserPageList(obj.curr);
                        }
                    }
                });
            }

        });
    }
    getUserPageList();
    function delEvent(uid) {
        alert(uid);
        layer.confirm('你确定要删除吗？',{
            btn:['是','否']
        },function () {
            $.ajax({
                type:'GET',
                dataType:'json',
                url: '/systemsetup/chara-manger/deleteRole',
                data:{
                    id:uid,
                },success:function (msg) {
                    if (msg==true) {
                        getUserPageList();
                        layer.msg('成功删除用户',{icon:1,time:2000});
                    }

                }
            })
        })
    }
    $("#addUserBtn").click(function () {
        layer.open({
            type:2,
            title:'新增角色',
            fix:false,
            maxmin:true,
            shadeClose:true,
            area:['600px','400px'],
            content:'/systemsetup/chara-manger/addchara',
            end:function() {
                getUserPageList();
            }
        });
    });

    //修改员工
    var updaterole =function (id) {
        alert('nihao')
        layer.open({
            type:2,
            title:'修改角色',
            fix:false,
            maxmin:true,
            shadeClose:true,
            area:['600px','400px'],
            content:'/systemsetup/chara-manger/chara_edit?id='+id,
            end:function() {
                getUserPageList();
            }
        });
    }

</script>
</body>
</html>