<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增角色</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery.css">
    <link rel="stylesheet" href="/css/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="/css/Sortable.css" type="text/css">
    <script type="text/javascript" async="" src="/js/vds.js"></script>
    <script type="text/javascript" src="/js/all_before.js"></script>
    <link rel="stylesheet" href="/css/layer.css" id="layuicss-skinlayercss">
    <script type="text/javascript" src="/js/highcharts.js"></script>
    <script type="text/javascript" src="/js/exporting.js"></script>
    <script type="text/javascript" src="/js/WdatePicker.js"></script>
    <link href="/css/WdatePicker.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/all_after.js"></script>
    <script type="text/javascript" src="/js/flexigrid.js"></script>
    <script type="text/javascript" src="/js/wbi_common.js"></script>
    <script type="text/javascript" src="/js/wbill_common.js"></script>
    <script type="text/javascript" src="/js/filter.js"></script>
    <script type="text/javascript" src="/js/record.js"></script>
    <script type="text/javascript" src="/js/vue/vue.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/layer/layer.js"></script>
    <script type="text/javascript" src="/js/laypage/laypage.js"></script>
</head>
<body>
<div  style="width: 500px; height: 280px;; text-align: center">

    <!-- title -->
    <form name="myForm" id="myForm" >
        <div class="content" style="height:auto;width: auto; text-align: center ;margin-top: 20px">

            <input type="hidden" id="moduleName" value="SysRole" spellcheck="false">
            <table class="formTable" width="100%" cellspacing="0" cellpadding="8" border="0">
                <tbody><tr>
                    <td class="font14" width="70" valign="top"><span class="fontRed">*</span>角色名称</td>
                    <td ><input name="old_rolename" id="old_rolename" type="hidden" spellcheck="false">
                        <input name="rolename" id="rolename" onblur="javascript:this.value=this.value.replace(/^\s+|\s+$/g,'');" type="text" class="wf95 inputText " maxlength="10" data-rule="角色名称:required;" spellcheck="false"><br>
                        <span class="msg-box" for="rolename">
						</span></td>
                </tr>
                <tr>
                    <td class="font14" width="70" valign="top"><span class="fontRed"></span>角色描述</td>
                    <td ><textarea   name="roledesc"  maxlength="500" class="wf95" onblur="javascript:this.value=this.value.replace(/^\s+|\s+$/g,'');" style="resize: none" id="roledesc" cols="45" rows="5" spellcheck="false"></textarea></td>
                </tr>
                </tbody></table>
        </div>
    </form>
    <!-- content -->
    <div >
        <button id="saveBtn"  class="button ">保存</button>
        <button  id="cancelBtn" class="button">取消</button>
    </div>
    <!-- bottomButton -->
</div>
<script>
    var addchara = function(){

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/systemsetup/chara-manger/addrole",
            data: {
                chName: $("#rolename").val(),
                chDetail:$("#roledesc").val(),

            },
            success: function(msg){
                $('#cancelBtn').click();
            }
        });
    }

    $('#saveBtn').on('click', function(){
        addchara();

    });

    $('#cancelBtn').on('click', function(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.getUserPageList();
        parent.layer.close(index);
    });
</script>
</body>
</html>