<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery/jquery-3.3.1.js"></script>
    <script src="/jquery/validation/1.14.0/jquery.validate.js"></script>
    <script src="/jquery/validation/1.14.0/messages_zh.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.all.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/Vue/vue.min.js"></script>
</head>
<body>
  <h1 th:text="123"></h1>
  <div class="container">12312312
      <!-- Content here -->
  </div>
</body>
</html>