<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <label for="soDate">日期：</label>
    <input type="text" class="form-control" id="soDate" name="soDate" th:value="${session.sales.soDate}">
    <label for="soClient">客户：</label>
    <input type="text" class="form-control" id="soClient" name="soClient" placeholder="输入日期">
    <label for="soStatus">状态：</label>
    <input type="text" class="form-control" id="soStatus" name="soStatus" placeholder="输入日期">
    <label for="soDiscount">数量：</label>
    <input type="text" class="form-control" id="soDiscount" name="soDiscount" placeholder="输入日期">
</form>
</body>
</html>