<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>

<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

</head>
<body>
<div id="app">
  <button v-on:click="add">增加 1</button>
  <p>这个按钮被点击了 {{counter}} 次。</p>
	<div id="addTr">
		
	</div>
	
	 
</div>

<script>
 var app = new Vue({
  el: '#app',
  data: {
    counter: 0,
	  resulttwo: [{isOnline: '',name: '全部'},{isOnline: 0,name: '下架'}, {isOnline: 1,name: '上架'}]
  },
	 methods: {
		 add() {
		 var html ="<select name='clName' class='select' id='clName'>";
			 for ( var i = 0; i <app.resulttwo.length; i++){
			
					html = html+"<option value='"+app.resulttwo[i].isOnline+"'>"+app.resulttwo[i].name+"</option>";
				}
				html = html+"</select>";
	 document.getElementById("addTr").insertAdjacentHTML('afterend',html);
    }
	 }
})
</script>
</body>
</html>