<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/cargomanagement/sales-history/nimabo" method="post">
<input value="王阿婆" name="soClient">
    <input value="2" name="clNumber">
    <input value="王阿婆" name="soClient">
    <input value="2" name="clNumber">
    <input value="王阿婆" name="soClient">
    <input value="2" name="clNumber">
    <input value="王阿婆" name="soClient">
    <input value="2" name="clNumber">
    <input type="submit" value="submit">
</form>
</body>
</html>