<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunhe.systemsetup.dao.EmployMapper">
    <sql id="empl">
        id,em_username,em_realname,em_role,em_sex,em_phone,em_email,em_status,
        em_repo,em_shiro,em_sel_invoice,em_del_invoice,em_sel_user,em_address
    </sql>
    <sql id="empl3">
        em_username,em_password,em_realname,em_role,em_sex,em_phone,em_email,em_status,
        em_repo,em_shiro,em_sel_invoice,em_del_invoice,em_sel_user,em_address,ch_id
    </sql>

    <sql id="empl2">
        em_username like concat('%',#{employ.emUsername},'%')
        or em_realname like concat('%',#{employ.emRealname},'%')
        or em_phone like concat('%',#{employ.emPhone},'%')
        <!--<if test="emUsername !=null">em_username like concat('%',#{employ.emUsername},'%')</if>
       <if test="emUsername !=null and emRealname!=null">and em_realname like concat('%',#{employ.emRealname},'%')</if>
        <if test="emUsername !=null and emRealname!=null and enPhone !=null"> and em_phone like concat('%',#{employ.emPhone},'%')</if>-->
    </sql>

    <select id="selectPageEmploy" resultType="com.yunhe.systemsetup.entity.Employ" parameterType="com.yunhe.systemsetup.entity.Employ">
        select <include refid="empl"/>
        from employ where <include refid="empl2"/> order by id desc
    </select>

    <insert id="insertEmploy"  parameterType="com.yunhe.systemsetup.entity.Employ">
        insert into employ(<include refid="empl3"/>) values (#{emUsername},#{emPassword},#{emRealname},#{emRole},#{emSex},#{emPhone},#{emEmail},#{emStatus}
        ,#{emRepo},#{emShiro},#{emSelInvoice},#{emDelInvoice},#{emSelUser},#{emAddress},#{ch_id})
    </insert>

   <select id="checkemname" parameterType="com.yunhe.systemsetup.entity.Employ" resultType="String">
        select em_username from employ where em_username =#{emUsername}
    </select>

    <!--
    查询出员工对应的板块
    author 孔邹祥
    -->
    <select id="selectEmployPlate" resultType="java.lang.String">
        SELECT p.`pe_name` FROM employ e,chara_manger c,permission p WHERE e.`id`=#{value} AND e.ch_id = c.`id` AND c.`id`=p.`ch_id`
    </select>

    <update id="updatePass" parameterType="com.yunhe.systemsetup.entity.Employ">
        update employ set em_password = #{emPassword} where id =#{id}
    </update>

    <update id="updatemess" parameterType="com.yunhe.systemsetup.entity.Employ">
        update employ set  em_username=#{emUsername},em_realname=#{emRealname},em_role=#{emRole},em_sex=#{emSex},em_phone=#{emPhone},em_email=#{emEmail},em_status=#{emStatus},em_address=#{emAddress},ch_id=#{ch_id} where id=#{id}
</update>
</mapper>
